@model DSLNG.PEAR.Web.ViewModels.OperationData.OperationDataConfigurationViewModel

<style type="text/css">
    .text-align-right {
        padding-left: 20px !important;
    }
</style>
<div style="overflow: auto">
    <table class="table table-hover table-transparent table-bordered">
        <tbody>
            <tr>
                <th style="min-width: 200px;">KPI Name</th>
                <th style="width: 50px;">2011</th>
                <th style="width: 50px;">2012</th>
                <th style="width: 50px;">2013</th>
                <th style="width: 50px;">2014</th>
                <th style="width: 50px;">2015</th>
                <th style="width: 50px;">2016</th>
                <th style="width: 50px;">2017</th>
                <th style="width: 50px;">2018</th>
                <th style="width: 50px;">2019</th>
                <th style="width: 50px;">2020</th>
                <th style="width: 50px;">2021</th>
                <th style="width: 50px;">2022</th>
                <th style="width: 50px;">2023</th>
                <th style="width: 50px;">2024</th>
                <th style="width: 50px;">2025</th>
                <th style="width: 50px;">2026</th>
                <th style="width: 50px;">2027</th>
                <th style="width: 50px;">2028</th>
                <th style="width: 50px;">2029</th>
                <th style="width: 50px;">2030</th>
            </tr>
            @{ var a = 0;
               int number = 1;
               var groups = new List<string>();
            }
            @foreach (var kpi in Model.Kpis)
            {

                if (!groups.Contains(kpi.GroupName.ToLowerInvariant()))
                {
                    groups.Add(kpi.GroupName.ToLowerInvariant());
                <tr>
                    <td style="text-align: left;border-bottom: 1px solid #fff;border-top: 1px solid #fff" colspan="23"><b>@kpi.GroupName.ToUpperInvariant()</b></td>
                </tr>
                }
                <tr>
                    <td style="text-align: left">@(number++). @kpi.Name (@kpi.MeasurementName)</td>

                    @{ var b = 0;}
                    @foreach (var operationData in kpi.OperationData)
                    {
                        <th class="text-align-right">
                            @Html.ParseToNumber(operationData.Value.ToString())
                        </th>
                        b++;
                    }
                </tr>
                    a++;
            }
        </tbody>
    </table>
</div>
