@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="text-center table avg-stats">
    <thead>
        <tr>
            <td colspan="5" style="background-color: #92CDDC">Avg YTD-Key Statistics (compare to prior day)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="font-weight: bold;">@Html.DisplayDerLabel(Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiLabel, "Feed Gas")</td>
            <td style="font-weight: bold;">@Html.DisplayDerLabel(Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiLabel, "MCHE Rundown")</td>
            <td style="font-weight: bold;">@Html.DisplayDerLabel(Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiLabel, "LNG Prod")</td>
            <td style="font-weight: bold;">@Html.DisplayDerLabel(Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiLabel, "CDS Prod")</td>
            <td style="font-weight: bold;">@Html.DisplayDerLabel(Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiLabel, "Fuel Gas")</td>
        </tr>
        <tr class="avg-stats-value">
            <td style="font-weight: bold;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd , Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscfd","N/A",true,1)</td>
            <td style="font-weight: bold;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "ton/d", "N/A", true, 1)</td>
            <td style="font-weight: bold;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "ton/d", "N/A", true, 1)</td>
            <td style="font-weight: bold;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "bpcd", "N/A", true, 1)</td>
            <td style="font-weight: bold;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "ton/d", "N/A", true, 1)</td>
        </tr>
        <tr class="comparison">
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.YtdDeviation ) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.YtdDeviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.YtdDeviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.YtdDeviation) fa-lg"></span></td>
            <td><span class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.YtdDeviation) fa-lg"></span></td>
        </tr>
    </tbody>
</table>



