@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<script type="text/javascript">
        $('document').ready(function () {
            setTimeout(function () {
                if ($('#weekly-critical-highlight').length) {
                    var x = $('#weekly-critical-highlight').html();
                    $('#weekly-critical-highlight').remove();
                    $('#weekly-critical-highlight-container').prepend(x);
                }
            }, 500);
        });
</script>

<table class="table table-bordered weekly-critical" style="border:1px solid #444;border-bottom:none;border-left:none;">
    <thead>
        <tr>
            <td colspan="6" style="border: 1px solid #444;border-bottom: none;border-left: none;position:initial;" id="weekly-critical-highlight-container">
                WEEKLY SAFETY CRITICAL EQUIPMENT (SCE) PM INSPECTIONS OVERDUE (as of @Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Remark)
            </td>
        </tr>
    </thead>
</table>

<table class="table table-bordered weekly-critical">
    <thead>
       
        <tr>
            <td style="width:12.5%">
                Type
            </td>
            <td style="width:12.5%">
                Relieve Valve
            </td>
            <td style="width:17%">
                SIF
            </td>
            <td style="width:17%">
                Other
            </td>
            <td style="width:12%">
                Total
            </td>
            <td>
                Remarks
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                No. of PM overdue
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, string.Empty, "N/A", false, 0)
            </td>
            <td style="width: 12%">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, string.Empty, "N/A", false, 0)
            </td>
            <td>
                @Html.DisplayDerRemarkJson(@Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Remark, "daily")
            </td>
        </tr>
    </tbody>
</table>
