@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered commodities">
    <thead>
        <tr>
            <td colspan="2" style="font-size:11px;padding:11px">Economic Indicator</td>
            <td style="text-align:center">
                FX rate <br /><span style="font-weight:normal">SDR:IMF major ccy basket</span>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:30%;font-weight:bold">
                <div class="dubai-crude"> Dubai Crude (DME OQD FUT)</div>
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "USD/bbl")
            </td>
            <td style="width: 30%">
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Deviation)"></i></span>
                USD/SDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 4)
            </td>
        </tr>
        <tr>

            <td><div class="next-row">BRENT FUT&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "USD/bbl", "N/A", true, 2)
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Deviation)"></i></span>
                USD/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Naphta FOB Sing&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Deviation)"></i></span>
                JPY/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Applied JCC (@Model.DateInfo.ToString("MMM"))</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Deviation)"></i></span>
                USD/JPY @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">LNG Spot DES JKM (@Model.KpiInformationViewModels.Single(x => x.Position == 15).DerItemValue.Value)&nbsp;</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "USD/MMbtu", "N/A", true, 3)
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Deviation)"></i></span>
                EUR/USD @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 4)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">Nat Gas Henry Hub</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 5).KpiMeasurement, "USD/MMbtu")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Deviation)"></i></span>
                EUR/IDR @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td><div class="next-row">ICP-Ind Crude Prc (@Model.DateInfo.AddMonths(-1).ToString("MMM"))</div></td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 6).KpiMeasurement, "USD/bbl")
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Deviation)"></i></span>
                USD/KRW @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 2)
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center" class="next-row">
                World Commodity Gold Spot Market
            </td>
            <td>
                <span class="comparison left-side"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 14).DerItemValue.Deviation)"></i></span>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 14).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 14).KpiMeasurement, "USD/Troy-ounce")
            </td>
        </tr>
    </tbody>
</table>
