@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<style>
    .first-row {
        height: 20pt;
    }

    .next-row {
        height: 11pt;
    }
</style>
<table class="table table-bordered global-stock">
    <thead>
        <tr>
            <td rowspan="2" style="vertical-align:middle;font-size:11px;width: 138px;">Global Stock Market</td>
            <td colspan="3" style="vertical-align: middle;font-size:12px">Forecasted Market Indicator</td>
        </tr>
        <tr>
            <td style="width:78px">USD/JPY</td>
            <td>BRENT FUT</td>
            <td style="width:30%">USD/IDR</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="next-row">
                    <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Deviation)"></i></span>
                    @Html.DisplayDerValueWithLabelAtFront("JKSE", Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, "JSKE")
                </div>
            </td>
            <td>
                <span class="comparison absolute">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("1M:", Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, "1M:")
            </td>
            <td class="brentfut-col brenfut-first" style="border-bottom:none;"></td>
            <td>
                <span class="comparison left-side">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("1 Month:", Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Value, "1 Month:", "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td>
                <div class="next-row">
                    <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Deviation)"></i></span>
                    @Html.DisplayDerValueWithLabelAtFront("DJIA", Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, "DJIA")
                </div>
            </td>
            <td>
                <span class="comparison absolute">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("3M:", Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, "3M:")
            </td>
            <td class="brentfut-col brenfut-second" style="border-bottom:none;">
            <td>
                <span class="comparison left-side">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("3 Month:", Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, "3 Month:", "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td>
                <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Deviation)"></i></span>
                @Html.DisplayDerValueWithLabelAtFront("Nikkei 225:", Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, "Nikkei 225:")
            </td>
            <td>
                <span class="comparison absolute">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("6M:", Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, "6M:")
            </td>
            <td class="brentfut-col brenfut-third" style="border-bottom:none;">
            <td>
                <span class="comparison left-side">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("6 Month:", Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, "6 Month:", "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td>
                <span class="comparison absolute"><i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Deviation)"></i></span>
                @Html.DisplayDerValueWithLabelAtFront("Shanghai SEC:", Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, "Shanghai SEC:")

            </td>
            <td>
                <span class="comparison absolute">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("1Yr:", Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, "1Yr:", "N/A", true, 2)
            </td>
            <td class="brentfut-col brenfut-fourth" style="border-bottom:none;">
            <td>
                <span class="comparison left-side">
                    <i class="fa @Html.DisplayDerDeviation(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Deviation)"></i>
                </span>
                @Html.DisplayDerValueWithLabelAtFront("1 Year:", Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value, "1 Year:", "N/A", true, 0)
            </td>
        </tr>
    </tbody>
</table>
<span id="brenfut" data-val="@Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value"></span>
<script type="text/javascript">
    $(document).ready(function () {

        var brenfut = $('#brenfut').data('val');
        console.log(brenfut);
        if (brenfut != '') {
            $('.brenfut-first').append(brenfut.a.label);
            $('.brenfut-second').append(brenfut.b.label);
            $('.brenfut-third').append(brenfut.c.label);
            $('.brenfut-fourth').append(brenfut.d.label);
        }


    });
</script>