@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered hhv vertical-space" style="margin:0">
    <thead>
        <tr>
            <td colspan="3">
                HHV (Avg 24H)
            </td>
        </tr>
        <tr>
            <td style="width:20%">
                JOB-SNO
            </td>
            <td style="width:21%">
                PEP-DNG
            </td>
            <td style="width:33%">
                PEP-MTD
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "btu/scf") 
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "btu/scf")
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "btu/scf")
            </td>
        </tr>
        <tr>
            <td style="background-color:#c4d79b">
                 @Html.DisplayDerValueWithLabelAtFront("min", Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd, string.Empty, "N/A", true, 0)
            </td>
            <td style="background-color:#c4d79b">
                @Html.DisplayDerValueWithLabelAtFront("min", Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd, string.Empty, "N/A", true, 0)
            </td>
            <td style="background-color:#c4d79b">
                @Html.DisplayDerValueWithLabelAtFront("min", Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Ytd, string.Empty, "N/A", true, 0)
            </td>
        </tr>
    </tbody>
</table>
