@using System.Globalization
@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel       

<table class="table table-bordered job-pmts vertical-space">
    <thead>
        <tr>
            <td colspan="6">JOB PMTS</td>
        </tr>
        <tr>
            <td colspan="2" style="width:25%">ACTUAL 24H</td>
            <td colspan="2">ACTUAL MTD</td>
            <td colspan="2" style="width:35%">ACTUAL YTD</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf", "N/A", true, 2) </td>
            <td rowspan="2" style="text-align:center;vertical-align:middle">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes") </td>
            <td style="width: 17%;">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf")</td>
            <td rowspan="2" style="text-align:center;vertical-align:middle">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes") </td>
            <td>@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf") </td>
            <td rowspan="2" style="text-align:center;vertical-align:middle">@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes")</td>
        </tr>
        <tr>
            <td>@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu", "N/A", true, 0) </td>
            <td>@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu", "N/A", true, 0) </td>
            <td>@Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu", "N/A", true, 0) </td>
        </tr>
        <tr>
            <td colspan="2">@GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value,0) of DCQ @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, string.Empty, "MMbtu","N/A",true,0) </td>
            <td class="percentage-wrapper" colspan="2"><div class="bar-percentage"><div style="max-width:@GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Mtd,0).ToHtmlString().Replace(" ","")">&nbsp;</div></div>@GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Mtd,0) of MGN @Html.DisplayCompleteDerValue(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Mtd, 1000), string.Empty, "bbtu", "N/A", true, 0) </td>
            <td class="percentage-wrapper" colspan="2"><div class="bar-percentage"><div style="max-width:@GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd,0).ToHtmlString().Replace(" ","")">&nbsp;</div></div>@GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd,0) of ADP @Html.DisplayCompleteDerValue(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Ytd, 1000000), string.Empty, "TBtu", "N/A", true, 1) </td>
        </tr>
    </tbody>
</table>

@helper GetPercentage(string achievement, string target, int digit)
{
if (string.IsNullOrEmpty(achievement) || string.IsNullOrEmpty(target))
{
        <text>N/A</text>
}
else
{
    var achievementToDouble = double.Parse(achievement);
    var targetToDouble = double.Parse(target);
    var percentage = Math.Round((achievementToDouble / targetToDouble) * 100, digit);
        @Html.DisplayCompleteDerValue(percentage.ToString(CultureInfo.InvariantCulture), "%", "%","N/A",false,digit)
}
}