@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKeyEquipmentStatusViewModel

@{
    var pos0 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 0);
    var pos1 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 1);
    var pos2 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 2);
    var pos3 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 3);
    var pos4 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 4);
    var pos5 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 5);
    var pos6 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 6);
    var pos7 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 7);
    var pos8 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 8);
    var pos9 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 9);
    var pos10 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 10);
    var pos11 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 11);
    var pos12 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 12);
    var pos13 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 13);
    var pos14 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 14);
    var pos15 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 15);
    var pos16 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 16);
    var pos17 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 17);
    var pos18 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 18);
    var pos19 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 19);
    var pos20 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 20);
    var pos21 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 21);
    var pos22 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 22);
    var pos23 = Model.KeyEquipmentStatusViewModels.Single(x => x.Position == 23);

}

<table class="table table-bordered key-equipment top-bottom-border">
    <thead>
    <tr>
        <td colspan="8" style="font-size:12px">
            KEY EQUIPMENT STATUS
        </td>
    </tr>
    <tr>
        <td colspan="2" class="power" style="font-size:11px">
            Power
        </td>
        <td colspan="2" class="process-train" style="font-size:11px">
            Process Train
        </td>
        <td colspan="2" class="utilities" style="font-size:11px">
            Utilities
        </td>
        <td colspan="2" class="support" style="font-size:11px">
            Support
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 12%">
            GTG-A
        </td>
        <td style="width: 13.2%;" class="@Html.GetCssClassByDerValue(pos0.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos0.highlight)
        </td>
        <td style="width: 12.5%;">
            C3 Compr
        </td>
        <td style="width: 12.7%;" class="@Html.GetCssClassByDerValue(pos6.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos6.highlight)
        </td>
        <td style="width: 12.5%;">
            Air Compr-A
        </td>
        <td class="@Html.GetCssClassByDerValue(pos12.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos12.highlight)
        </td>
        <td>
            Feed Inlet System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos18.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos18.highlight)
        </td>
    </tr>
    <tr>
        <td>
            GTG-B
        </td>
        <td class="@Html.GetCssClassByDerValue(pos1.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos1.highlight)
        </td>
        <td>
            LP-MR Compr
        </td>
        <td class="@Html.GetCssClassByDerValue(pos7.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos7.highlight)
        </td>
        <td>
            Air Compr-B
        </td>
        <td class="@Html.GetCssClassByDerValue(pos13.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos13.highlight)
        </td>
        <td>
            Potable Water Syst
        </td>
        <td class="@Html.GetCssClassByDerValue(pos19.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos19.highlight)
        </td>
    </tr>
    <tr>
        <td>
            GTG-C
        </td>
        <td class="@Html.GetCssClassByDerValue(pos2.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos2.highlight)
        </td>
        <td>
            HP-MR Compr
        </td>
        <td class="@Html.GetCssClassByDerValue(pos8.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos8.highlight)
        </td>
        <td>
            Air Compr-C
        </td>
        <td class="@Html.GetCssClassByDerValue(pos14.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos14.highlight)
        </td>
        <td>
            Fire-Protect Syst
        </td>
        <td class="@Html.GetCssClassByDerValue(pos20.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos20.highlight)
        </td>
    </tr>
    <tr>
        <td>
            EDG-A
        </td>
        <td class="@Html.GetCssClassByDerValue(pos3.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos3.highlight)
        </td>
        <td>
            MCHE
        </td>
        <td class="@Html.GetCssClassByDerValue(pos9.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos9.highlight)
        </td>
        <td>
            N2 System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos15.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos15.highlight)
        </td>
        <td>
            C2&amp;C3 Storage Tank
        </td>
        <td class="@Html.GetCssClassByDerValue(pos21.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos21.highlight)
        </td>
    </tr>
    <tr>
        <td>
            EDG-B
        </td>
        <td class="@Html.GetCssClassByDerValue(pos4.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos4.highlight)
        </td>
        <td>
            Hot Oil System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos10.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos10.highlight)
        </td>
        <td>
            BOG Compr
        </td>
        <td class="@Html.GetCssClassByDerValue(pos16.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos16.highlight)
        </td>
        <td>
            Flare System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos22.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos22.highlight)
        </td>
    </tr>
    <tr>
        <td>
            EDG-C
        </td>
        <td class="@Html.GetCssClassByDerValue(pos5.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos5.highlight)
        </td>
        <td>
            Fuel Gas System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos11.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos11.highlight)
        </td>
        <td>
            LNG Jetty
        </td>
        <td class="@Html.GetCssClassByDerValue(pos17.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos17.highlight)
        </td>
        <td>
            Waste System
        </td>
        <td class="@Html.GetCssClassByDerValue(pos23.highlight.ToLowerInvariant(), true)">
            @Html.GetCssClassByDerValue(pos23.highlight)
        </td>
    </tr>
    </tbody>
</table>
