@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table style="width:100%;margin-top:2px;font-size:11px;">
    <tr>
        <td style="width:50%;padding:0">
            <table style="width:100%">
                <tr>
                    <td style="padding:2px"><label style="font-size:12px">Marine, Shipping and Cargo Delivery(time in HH:MM):</label></td>
                </tr>
                <tr>
                    <td style="padding:0">
                        <table style="width:100%">
                            <tr class="loading-duration">
                                <td style="width:33.33%;padding:2px"><label style="font-size:11px">Loading Duration</label></td>
                                <td style="width:33.33%;padding:2px">Last Shipping: @Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value) </td>
                                <td style="width:33.33%;padding:2px"><span class="indicator left-side">@Html.DisplayKpiIndicatorType1(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd)</span> Avg YTD: @Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value)</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
           
            
        </td>
        <td style="width:50%;padding:0">
            <table style="width:100%">
                <tr class="standard-loading">
                    <td style="width:45%;padding:3px">
                        <label>
                            Standard Loading time: @Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd ) @if (!string.IsNullOrEmpty(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Ytd))
                            {<text>Hours</text>}
                        </label>
                    </td>
                    <td style="width:55%;padding:3px">
                        <label>
                            Standard Terminal Time: @Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Ytd) @if (!string.IsNullOrEmpty(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Ytd))
                            {<text>Hours(RTL)</text>}
                        </label>
                    </td>
                </tr>
            </table>
            <table style="width:100%">
                <tr class="ttl-terminal">
                    <td style="width:50%;padding:3px">
                        <label>Ttl terminal time (berth-unberth)</label>
                    </td>
                    <td style="width:50%;padding:3px">
                        Last Shipping:@Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value) <span class="indicator left-side">@Html.DisplayKpiIndicatorType4(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value)</span> Avg YTD:@Html.DisplayDerValueWithHours(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>