@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel

<table class="table borderless security-incident" style="border-right:1px solid #444">
    <tr>
        <td style="width:15%">
            <ul class="list-unstyled">
                <li><strong>Security</strong></li>
                <li><strong>Incident Type</strong></li>
                <li><strong>(Act 24H)</strong></li>
            </ul>
        </td>
        <td style="text-align: right;width:33%">
            <ul class="list-unstyled">
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 68px;font-weight:bold">Mass Gathering</span></li>
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 68px;font-weight:bold">Road Blockade</span></li>
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 68px;font-weight:bold">Others</span></li>
            </ul>
        </td>
        <td style="text-align: right;width:59.2%">
            <ul class="list-unstyled">
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 129px;font-weight:bold">Theft/Criminal</span></li>
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 129px;font-weight:bold">Fighting/Violence</span></li>
                <li value="@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value,"N/A",false,0)">@Html.DisplayDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, "N/A", false, 0) <span style="display: inline-block;min-width: 129px;font-weight:bold">Prop Destruction/Vandalism</span></li>
            </ul>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('.security-incident').find('li').map(function () {
            var $this = $(this);
            var nilai = $this.attr('value');
            if (nilai == '0' || nilai == undefined || nilai == 'N/A') {
                $this.find('span').css('color', 'black')
            } else {
                $this.find('span').css('color', 'red')
            }
        });
    });
</script>
