@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered  tank-table vertical-space">
    <tbody>
        <tr>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                LNG Tank <br/> (Cap: 186,277m3)
            </td>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                CDS Tank<br /> (Cap: 80,000bbls)
            </td>
            <td colspan="2" style="font-size:11px;font-weight:bold;text-align:center">
                CDS Buffer Tank <br /> (Cap: 17,500bbls)
            </td>
            <td style="font-size:11px;font-weight:bold;text-align:center">
                CDS day-tank <br /> (Cap: 2,863bbls)
            </td>
        </tr>
        <tr>
            <td style="width:12.11%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "tonnes")
            </td>
            <td style="width:12.9%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "m3")
            </td>
            <td style="width:17%;text-align:center">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 4).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 4).KpiMeasurement, "tonnes")
            </td>
            <td style="width:17%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 5).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 5).KpiMeasurement, "bbls","N/A",true,0)
            </td>
            <td style="width:11%;text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 7).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 7).KpiMeasurement, "tonnes")
            </td>

            <td style="width:13%;text-align:right">

                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 8).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 8).KpiMeasurement, "bbls", "N/A", true, 0)
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 10).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 10).KpiMeasurement, "tonnes")
            </td>
        </tr>
        <tr>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "MMbtu", "N/A", true, 0)

            </td>
            <td style="text-align:right;position:relative;padding-top: 3px;padding-right: 1px;padding-left: 0px;">
                @*@LngInventoryLevel(Model.KpiInformationViewModels.Single(x => x.Position == 12).DerItemValue.Value)*@
                Days to tank top @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 3).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 1)
            </td>
            <td style="text-align:center">
               @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 13).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 13).KpiMeasurement, "MMbtu", "N/A", true, 0)
            </td>
            <td style="text-align:right">
                Days to tank top @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 6).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 1)
            </td>
            <td style="text-align:center">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 14).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 14).KpiMeasurement, "MMbtu", "N/A", true, 0)
            </td>
            <td style="text-align:right">
                Days to tank top @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 9).DerItemValue.Value, string.Empty, string.Empty, "N/A", true, 1)
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 11).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 11).KpiMeasurement, "MMbtu", "N/A", true, 0)
            </td>
        </tr>
    </tbody>
</table>

@helper LngInventoryLevel(string val)
{
if (!string.IsNullOrEmpty(val))
{
    var parsed = double.Parse(val);
    if (parsed > 100) { parsed = 100; }
    <div class="bar-percentage" style="height:17px;top:1px"><div class="mgdp" style="width:@string.Format(@"{0}%", parsed.ToString())"></div></div>
}


}
