@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered vertical-space total-commitment">
    <thead>
        <tr>
            <td style="background-color: #92cddc;text-align:center;vertical-align:middle;width:37%">Total Commitment</td>
            <td style="background-color: #dce6f1;text-align:center;vertical-align:middle;width:30%">Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Daily Contract Quantity (DCQ)</td>
            <td class="percentage-wrapper" colspan="2">
                <div class="bar-percentage">
                    <div class="total-commitment-percentage" style="max-width:@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value,0, true).Replace(" ","")">&nbsp;</div>
                </div>
                @Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, 0) of @Html.DisplayCompleteDerValue(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, 1), string.Empty, "MMbtu", "N/A", true, 0) 
            </td>
        </tr>
        <tr>
            <td>Monthly Gas Nomination (MGN)</td>
            <td class="percentage-wrapper" colspan="2">
                <div class="bar-percentage">
                    <div class="total-commitment-percentage" style="max-width:@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd,0, true).Replace(" ","")">&nbsp;</div>
                </div>
                @*@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, 0) of @Html.DisplayCompleteDerValue(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, 1), string.Empty, "mmbtu", "N/A", true, 0)*@
                @Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, 0) of @(string.IsNullOrEmpty(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd) ? "N/A" : string.Format(@"{0} {1}", Html.ToEngV(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd.ToString(), 1000), 5, true), "Bbtu"))
                
            </td>
        </tr>
        <tr>
            <td>Annual Delivery Plan (ADP)</td>
            <td class="percentage-wrapper" colspan="2">
                <div class="bar-percentage">
                    <div class="total-commitment-percentage" style="max-width:@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd,0, true).Replace(" ","")">&nbsp;</div>
                </div>
                
                
                @Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, 0) of @(string.IsNullOrEmpty(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd) ? "N/A" : string.Format(@"{0} {1}", Html.ToEngV(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, 1000000), 4, true), "Tbtu"))
                @*@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, 0) of @Html.DisplayCompleteDerValue(Html.Divide(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, 1), string.Empty, "mmbtu", "N/A", true, 0)*@
                @*@Html.GetPercentage(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, 0) of @Html.ToEngV(Html.Divide(200.ToString(), 1000000), 4, true)*@
            </td>
        </tr>
    </tbody>
</table>