@model DSLNG.PEAR.Web.ViewModels.Der.Display.DisplayKpiInformationViewModel
<table class="table table-bordered total-feed-gas top-bottom-border">
    <thead>
        <tr>
            <td style="width:21%">
                TOTAL FEED GAS
            </td>
            <td style="width:21.5%">
                ACTUAL 24H
            </td>
            <td style="width:29%">
                ACTUAL MTD
            </td>
            <td>
                ACTUAL YTD
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Volume
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Value,
               Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf") 
            </td>
            <td>
               @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf")
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 0).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 0).KpiMeasurement, "MMscf")
            </td>
        </tr>
        <tr>
            <td>
                Energy
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu","N/A",true,0)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu", "N/A", true, 0)
            </td>
            <td>
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 1).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 1).KpiMeasurement, "MMbtu", "N/A", true, 0)
            </td>
        </tr>
        <tr>
            <td>
                Mass
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Value, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes")
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Mtd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes")
                
            </td>
            <td style="text-align:right">
                @Html.DisplayCompleteDerValue(Model.KpiInformationViewModels.Single(x => x.Position == 2).DerItemValue.Ytd, Model.KpiInformationViewModels.Single(x => x.Position == 2).KpiMeasurement, "tonnes")
                
            </td>
        </tr>
        @*<tr>
            <td colspan="4">
                Feed Gas Pressure (Psig):
            </td>
        </tr>*@
    </tbody>
</table>
@*
<table class="der-table all-border">
    <thead>
        <tr style="height: 61px">
            <th class="der-bg-blue-1">
                TOTAL FEED GAS
            </th>
            <th class="der-bg-blue-4">
                ACTUAL 24H
            </th>
            <th class="der-bg-blue-4">
                ACTUAL MTD
            </th>
            <th class="der-bg-blue-4">
                ACTUAL YTD
            </th>
        </tr>
    </thead>
    @{
        var pos0 = Model.TotalFeedGasViewModels.Single(x => x.Position == 0);
        var pos1 = Model.TotalFeedGasViewModels.Single(x => x.Position == 1);
        var pos2 = Model.TotalFeedGasViewModels.Single(x => x.Position == 2);
        var pos3 = Model.TotalFeedGasViewModels.Single(x => x.Position == 3);
        <tbody>
            <tr>
                <td>
                    Volume
                </td>
                <td>
                    @pos0.Daily @pos0.Measurement
                </td>
                <td>
                    @pos0.Mtd @pos0.Measurement
                </td>
                <td>
                    @pos0.Ytd @pos0.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Energy
                </td>
                <td>
                    @pos1.Daily @pos1.Measurement
                </td>
                <td>
                    @pos1.Mtd @pos1.Measurement
                </td>
                <td>
                    @pos1.Ytd @pos1.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Energy
                </td>
                <td>
                    @pos2.Daily @pos2.Measurement
                </td>
                <td>
                    @pos2.Mtd @pos2.Measurement
                </td>
                <td>
                    @pos2.Ytd @pos2.Measurement
                </td>
            </tr>
            <tr>
                <td>
                    Fedd Gas Pressure
                </td>
                <td colspan="3">@pos3.Daily @pos3.Measurement</td>
            </tr>
        </tbody>
    }

</table>
*@
