@model IEnumerable<DSLNG.PEAR.Web.ViewModels.NLS.NLSViewModel>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="row modal-header-detail">
        <div class="title">All Remarks</div>
    </div>

</div>
<div class="modal-body">
    <div class="panel panel-default der-panel">
        <table class="der table-bordered">
            <tr>
                <th style="width: 50px">
                    @Html.DisplayNameFor(model => model.CreatedAtDisplay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                @if (ViewBag.IsAllowedToManage)
                {
                    <th>Action
                    </th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAtDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    @if (ViewBag.IsAllowedToManage)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Manage", new { nlsId = item.Id })
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
    @if (ViewBag.IsAllowedToManage)
    {
        @Html.ActionLink("Add New", "Manage", new { vsId = ViewBag.VesselScheduleId }, new { @class = "btn btn-primary" })
    }
</div>
