@model DSLNG.PEAR.Web.ViewModels.Buyer.BuyerViewModel
<div class="highlight-save">
    @using (Html.BeginForm("AddBuyer","DerLoadingSchedule", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div><ul class="validation-summary" style="color:red"></ul></div>
                <div><ul class="success-message" style="color:green"></ul></div>
            </div>
            <div class="col-md-12">
                <div class="form-inline whitebox">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @Id="BuyerName" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextAreaFor(model => model.Address, 5, 100, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>
            </div>
            <div class="col-md-12 artifact-designer-btns">
                <button type="submit" class="btn btn-primary btn-lg save-buyer"><span class="fa fa-floppy-o"></span>Save</button>
                <a href="javascript:;" class="btn btn-primary btn-lg close-buyer"><span class="fa fa-times"></span>Cancel</a>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $(document).find('#BuyerName').focus();
        $(document).on('keypress', 'input,select', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                // Get all focusable elements on the page
                var $canfocus = $(':focusable');
                var index = $canfocus.index(this) + 1;
                if (index >= $canfocus.length) index = 0;
                $canfocus.eq(index).focus();
            }
        });
    });
    $('.save-buyer').click(function (e) {
        e.preventDefault();
        $form = $(this).closest('form');
        $.post($form.attr('action'), $form.serialize(), function (data) {
            if (data.IsSuccess) {
                $('.success-message').html('<p>You haven been successfully saved new buyer</p>');
                var buyer = $(document).find('#BuyerId');
                buyer.removeAttr('selected');
                buyer.append("<option value=\'" + data.Id + "\' selected=\'selected\'>" + $('#BuyerName').val() + "</option>");
                setTimeout(function () {
                    //$('#loadingScheduleModal').modal('hide');
                    $('#buyer_form').empty();
                    $(document).find('#BuyerId').html($("#BuyerId option").sort(function (a, b) {
                        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
                    }));
                }, 1000);

            } else {
                if (data.Message.length) {
                    $valSummary = $('.validation-summary');
                    $valSummary.html('');
                    for (var i in data.message) {
                        $valSummary.append('<li>' + data.message[i] + '</li>');
                    }
                }
            }
            //setTimeout(function () {
            //    $('.add-new-schedule').trigger("click");
            //}, 10);
        })
    });
    $('.close-buyer').click(function (e) {
        $('#buyer-container').empty();
        console.log('containernya buyer');
    });
</script>

