@model DSLNG.PEAR.Web.ViewModels.Vessel.VesselViewModel

<div class="highlight-save">
    @using (Html.BeginForm("AddVessel","DerLoadingSchedule",FormMethod.Post, new { id="form_vessel" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div><ul class="validation-summary" style="color:red"></ul></div>
                <div><ul class="success-message" style="color:green"></ul></div>
            </div>
            <div class="col-md-12">
                <div class="form-inline whitebox">
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Name)
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @Id = "VesselName" })
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Capacity)
                        @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Capacity)
                    </div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.Type)
                        @Html.DropDownListFor(model => model.Type, Model.Types, "Select Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type)
                    </div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.MeasurementId)
                        @Html.DropDownListFor(model => model.MeasurementId, Model.Measurements, "Select Measurement", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MeasurementId)
                    </div>
                </div>
            </div>
            <div class="col-md-12 artifact-designer-btns">
                <button type="submit" class="btn btn-primary btn-lg save-vessel"><span class="fa fa-floppy-o"></span>Save</button>
                <button type="button" class="btn btn-primary btn-lg close-vesel"><span class="fa fa-times"></span>Cancel</button>
            </div>
        </div>
    }
</div>
<script>
    
    
    $(document).ready(function () {
        $(document).find('#VesselName').focus();
        
        $(document).on('keypress', 'input,select', function (e) {
            if (e.which == 13) {
                e.preventDefault();
                // Get all focusable elements on the page
                var $canfocus = $(':focusable');
                var index = $canfocus.index(this) + 1;
                if (index >= $canfocus.length) index = 0;
                $canfocus.eq(index).focus();
            }
        });
    });
    $('.save-vessel').click(function (e) {
        e.preventDefault();
        $form = $(this).closest('form');
        $.post($form.attr('action'), $form.serialize(), function (data) {
            if (data.IsSuccess) {
                $('.success-message').html('<p>You haven been successfully saved new vessel</p>');
                var vessel = $(document).find('#VesselId');
                vessel.removeAttr('selected');
                vessel.append("<option value=\'" + data.Id + "\' selected=\'selected\'>" + $('#VesselName').val() + "</option>");
                setTimeout(function () {
                    $('#vessel_form').empty();
                    //$('#loadingScheduleModal').modal('hide');
                    $(document).find('#VesselId').html($("#VesselId option").sort(function (a, b) {
                        return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
                    }));
                }, 1000);

            } else {
                if (data.Message.length) {
                    $valSummary = $('.validation-summary');
                    $valSummary.html('');
                    for (var i in data.message) {
                        $valSummary.append('<li>' + data.message[i] + '</li>');
                    }
                }
            }
        })
        //setTimeout(function () {
        //    $('.add-new-schedule').trigger("click");
        //}, 10);
    });
    $('.close-vesel').click(function (e) {
        $('#vessel-container').empty();
        console.log('containernya vessel');
    });
</script>