@model DSLNG.PEAR.Web.ViewModels.DerLoadingSchedule.LoadingSchedulesViewModel
<div class="add-button-wrapper">
   <btn class="btn btn-primary choose-schedule">Choose</btn>
    <btn class="btn btn-primary close-modal">Cancel</btn>
</div>
<div class="panel panel-default der-panel">
    <table class="der table-bordered nls-schedules">
        <tr>
            <th style="width:15px"></th>
            <th style="width:150px">Next Loading Schedule</th>
            <th style="width:150px">Vessel (Capacity)</th>
            <th style="width:150px">Customer</th>
            <th style="width:150px">ETA</th>
            <th style="width:150px">ETD</th>
            <th style="width:20px">Cargo#</th>
            <th>Remarks</th>
        </tr>
        @foreach (var nls in Model.Schedules)
        {
            <tr>
                <td><input type="checkbox" class="check-this" /><input type="hidden" class="id" name="id" value="@nls.Id" /></td>
                <td>
                    <a href="/DerLoadingSchedule/Edit/@nls.Id" class="edit-schedule prevent">@nls.VesselType - @nls.SalesType - @nls.Type</a>
                </td>
                <td>@nls.Vessel (@nls.Capacity @nls.Measurement)</td>
                <td>@nls.Buyer</td>
                <td>@nls.ETA.ToString("dd-MM-yyyy")</td>
                <td>@nls.ETD.ToString("dd-MM-yyyy")</td>
                <td>@nls.Cargo</td>
                @if (nls.RemarkDate.HasValue)
                {
                    <td>@nls.RemarkDate.Value.ToString("dd-MM-yyyy");@nls.Remark</td>
                }
                else
                {
                    <td></td>
                }

            </tr>
        }
    </table>
</div>

