@model DSLNG.PEAR.Web.ViewModels.VesselSchedule.VesselScheduleViewModel

<div class="vessel-schedule-save">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div><ul class="validation-summary" style="color:red"></ul></div>
                <div><ul class="success-message" style="color:green"></ul></div>
                @Html.Hidden("DerTransactionDateInput", "", new { id = "DerTransactionDateInput" })
                @Html.HiddenFor(x => x.Id)
            </div>
            <div id="vessel-container"></div>
            <div id="buyer-container"></div>
            <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td style="width: 100px;">@Html.LabelFor(model => model.VesselId)</td>
                    <td style="width: 160px;">
                        @Html.DropDownListFor(model => model.VesselId, Model.Vessels, new { @class = "form-control",@style="width:160px;" })
                    </td>
                    <td>
                        <button data-url='@Url.Action("AddVessel", "DerLoadingSchedule")' class="btn btn-master-rgw btn-primary add-new-vessel"><span class="fa fa-plus-square"></span> Add New</button>
                    </td>
                    <td>@Html.ValidationMessageFor(model => model.VesselId)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ETA)</td>
                    <td>@Html.TextBoxFor(model => model.ETA, new { @class = "form-control datepicker", @style = "width:160px;" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.ETA)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.ETD)</td>
                    <td>@Html.TextBoxFor(model => model.ETD, new { @class = "form-control datepicker", @style = "width:160px;" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.ETD)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.BuyerId)</td>
                    <td>@Html.DropDownListFor(model => model.BuyerId, Model.Buyers, new { @class = "form-control", @style = "width:160px;" })</td>
                    <td><button data-url='@Url.Action("AddBuyer", "DerLoadingSchedule")' class="btn btn-master-rgw btn-primary add-new-buyer"><span class="fa fa-plus-square"></span> Add New</button></td>
                    <td>@Html.ValidationMessageFor(model => model.BuyerId)</td>
                </tr>
                <tr>
                    
                    <td>@Html.LabelFor(model => model.Location)</td>
                    <td colspan="2">@Html.TextAreaFor(model => model.Location, 5, 50, new { @class = "form-control", @style = "width:360px;" })</td>
                    <td>@Html.ValidationMessageFor(model => model.Location)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.SalesType)</td>
                    <td>@Html.DropDownListFor(model => model.SalesType, Model.SalesTypes, new { @class = "form-control", @style = "width:160px;" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.SalesType)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Type)</td>
                    <td>@Html.DropDownListFor(model => model.Type, Model.Types, new { @class = "form-control", @style="width:160px;" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.Type)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Cargo)</td>
                    <td>@Html.TextBoxFor(model => model.Cargo, new { @class = "form-control", @style="width:160px;" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.Cargo)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.IsActive)</td>
                    <td>@Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })</td>
                    <td colspan="2">@Html.ValidationMessageFor(model => model.IsActive)</td>
                </tr>
            </table>
            <div class="col-md-12">
                <div class="form-inline whitebox">

                    @*<div class="form-control label">
                        @Html.LabelFor(model => model.VesselId)
                        @Html.DropDownListFor(model => model.VesselId, Model.Vessels, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VesselId)
                        <button data-url='@Url.Action("AddVessel", "DerLoadingSchedule")' class="btn btn-master-rgw btn-primary add-new-vessel"><span class="fa fa-plus-square"></span>Add</button>
                    </div>*@
                    @*<div id="vessel_form"></div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.ETA)
                        @Html.TextBoxFor(model => model.ETA, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.ETA)
                    </div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.ETD)
                        @Html.TextBoxFor(model => model.ETD, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.ETD)
                    </div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.BuyerId)
                        @Html.DropDownListFor(model => model.BuyerId, Model.Buyers, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BuyerId)
                        <button data-url='@Url.Action("AddBuyer", "DerLoadingSchedule")' class="btn btn-master-rgw btn-primary add-new-buyer"><span class="fa fa-plus-square"></span>Add</button>
                    </div>
                    <div id="buyer-container"></div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.Location)
                        @Html.TextAreaFor(model => model.Location, 5, 50, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Location)
                    </div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.SalesType)
                        @Html.DropDownListFor(model => model.SalesType, Model.SalesTypes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SalesType)
                    </div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.Type)
                        @Html.DropDownListFor(model => model.Type, Model.Types, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type)
                    </div>*@
                    @*<div class="form-group form-list">
                        @Html.LabelFor(model => model.Cargo)
                        @Html.TextBoxFor(model => model.Cargo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Cargo)
                    </div>
                    <div class="form-group form-list">
                        @Html.LabelFor(model => model.IsActive)
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>*@
                </div>
            </div>
            <div class="col-md-12 artifact-designer-btns">
                <button type="submit" class="btn btn-primary btn-lg save"><span class="fa fa-floppy-o"></span>Save</button>
                <a href="javascript:;" class="btn btn-primary btn-lg close-modal"><span class="fa fa-times"></span>Cancel</a>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#DerTransactionDateInput').val($('#currentDate').val());
        $('.datepicker').datetimepicker({
            format: "MM/DD/YYYY"
        });

        $('.add-new-vessel').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var container = $('#vessel-container');
            container.append('<div id="vessel_form"></div>')
            var $vessel_form = $('#vessel_form'), url = $(this).data('url');
            $.get(url, function (data) {
                $vessel_form.html(data);
            });
        });

        $('.add-new-buyer').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var container = $('#buyer-container');
            container.append('<div id="buyer_form"></div>')
            var $buyer_form = $('#buyer_form'), url = $(this).data('url');
            $.get(url, function (data) {
                $buyer_form.html(data);
            });
        });

        $('.save').click(function (e) {
            e.preventDefault();
            $form = $(this).closest('form');
            $.post($form.attr('action'), $form.serialize(), function (data) {
                if (data.IsSuccess) {
                    $('.success-message').html('<p>You haven been successfully saved new schedule</p>');
                    setTimeout(function () {
                        $('#loadingScheduleModal').modal('hide');
                        var $tr = $('<tr/>');
                        $tr.append('<td style="display:none"><input type="checkbox" class="check-this" /><input type="hidden" class="id" name="id" value="' + data.Id + '" /></td>');
                        $tr.append('<td><a href="/DerLoadingSchedule/Edit/' + data.Id + '" class="edit-schedule">' + data.VesselType + ' - ' + data.SalesType + ' - ' + data.Type + '</a></td>');
                        $tr.append('<td>' + data.VesselName + ' ' + data.VesselCapacity + ' (' + data.VesselMeasuremant + ')</td>');
                        $tr.append('<td>' + data.BuyerName + '</td>');
                        $tr.append('<td>' + data.ETA + '</td>');
                        $tr.append('<td>' + data.ETD + '</td>');
                        $tr.append('<td>' + data.Cargo + '</td>');
                        if (data.RemarkDate == null) {
                            $tr.append('<td><a href="/DerLoadingSchedule/Remarks/' + data.Id + '" class="see-remarks">See All</a></td>');
                        } else {
                            $tr.append('<td>' + data.RemarkDate + ';' + data.Remark + ' | <a href="/DerLoadingSchedule/Remarks/' + data.Id + '" class="see-remarks">See All</a></td>');
                        }

                        $tr.append('<td><button class="btn btn-default remove-schedule">remove</button></td>');
                        window.currentRowInEdit.replaceWith($tr);
                    }, 1000);

                } else {
                    if (data.Message.length) {
                        $valSummary = $('.validation-summary');
                        $valSummary.html('');
                        for (var i in data.message) {
                            $valSummary.append('<li>' + data.message[i] + '</li>');
                        }
                    }
                }
            })
        })

        $('.close-vesel').click(function (e) {
            $('#vessel-container').empty();
        });
        $('.close-buyer').click(function (e) {
            $('#buyer-container').empty();
        });
    });
</script>

