@model IEnumerable<DSLNG.PEAR.Web.ViewModels.NLS.NLSViewModel>
    <div class="row remarks-list">
    <div class="col-md-12">
        <div><ul class="validation-summary" style="color:red"></ul></div>
        <div><ul class="success-message" style="color:green"></ul></div>
    </div>
</div>
    <div class="panel panel-default der-panel">
        <table class="der table-bordered">
            <tr>
                <th style="width: 50px">
                    @Html.DisplayNameFor(model => model.CreatedAtDisplay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                @if (ViewBag.IsAllowedToManage)
                {
                    <th>
                        Action
                    </th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAtDisplay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    @if (ViewBag.IsAllowedToManage)
                    {
                        <td>
                            @Html.ActionLink("Edit", "ManageRemark", "DerLoadingSchedule", new { nlsId = item.Id }, new { @class = "manage-remark" }) | 
                            @Html.ActionLink("Delete", "DeleteRemark", "DerLoadingSchedule", new { @class = "delete-remark", @data_id = item.Id })
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
    @if (ViewBag.IsAllowedToManage)
    {
        @Html.ActionLink("Add New", "ManageRemark", "DerLoadingSchedule", new { vsId = ViewBag.VesselScheduleId }, new { @class = "btn btn-primary manage-remark" })
    }

