@model DSLNG.PEAR.Web.ViewModels.AssumptionData.AssumptionDataViewModel

@{
    ViewBag.Title = "Create";
}

<div class="AssumptionData-save">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="title">Key Assumption Data</div>
            <div class="description_year">New</div>
            <div>@Html.ValidationSummary(true)</div>
        </div>
        <div class="col-md-12">
            <div class="form-inline whitebox">
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.IdScenario)
                    @Html.DropDownListFor(model => model.IdScenario, Model.Scenarios,"Select Scenario", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdScenario)
                </div>
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.IdConfig)
                    @Html.DropDownListFor(model => model.IdConfig, Model.Configs,"Select Assumption Config", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdConfig)
                </div>
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.ForecastValue)
                    @Html.TextBoxFor(model => model.ForecastValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ForecastValue)
                </div>
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.ActualValue)
                    @Html.TextBoxFor(model => model.ActualValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActualValue)
                </div>
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.Remark)
                    @Html.TextAreaFor(model => model.Remark, 5, 100, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
        </div>
        <div class="col-md-12 artifact-designer-btns">
            <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
            <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
            <a href="/AssumptionData" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
