@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel


@{
    //string[] label = { "Fatality", "DAFWC", "Env LOPC (>1bbl or >=moderate)", "Env LOPC (<1bbl or minor)", "RWC", "MTC", "First-Aid (FAC)", "Near-Miss", "Traffic Incident", "Prop Dmg (>$50K or >=moderate)", "Prop Dmg (<$50k or minor)" };
    string[] label = { "SLC-PSLC submitted", "Near Miss 24H (Actual Daily)", "No of PTW audited", "Fatality/Disability", "DAFW (Days Away From Work)"
            , "RWC + MTC (no of injury)", "LOPC tier 3; <=0.3bbl/50kg", "First Aid"
            , "Overdue SCE inspection ", "Process override w/o appr", "PS incident investigation compliance", "Overdue Temp MOC", "DCS Alarm Rate-Per Panel Operator per Hour",
            "Near Miss 24H (Target Yearly)"};
    var a = 0;
    for (int i = 0; i < Model.KpiInformations.Count; i++)
    {
        <div class="form-group row">
            <label class="control-label col-md-2">@label[i]</label>
            <div class="col-md-2">@Html.DropDownListFor(model => model.KpiInformations[i].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px;margin:0 auto" })</div>
            <div>
                @Html.HiddenFor(model => model.KpiInformations[i].Position)
                <span style="padding-left:20px">
                    @Html.DropDownListFor(model => model.KpiInformations[i].ConfigType, Model.ConfigTypes, new {style="visibility: hidden"})
                </span>
                <input type="hidden" name="KpiInformations.Index" value="@a" />
            </div>
        </div>
        a++;
    }
}
