@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

@{
    string[] label = { "Mass Gathering", "Road Blockade", "Traffic Accident", "Theft/Criminal", "Violence", "Prop Destruction" };
    var a = 0;
    for (int i = 0; i < Model.KpiInformations.Count; i++)
    {

        var posIndex = Model.KpiInformations.FirstOrDefault(x => x.Position == i);
        if (posIndex != null)
        {
            <div class="form-group row">
                <label class="control-label col-md-2">@label[i]</label>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.KpiInformations[i].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
                    @Html.HiddenFor(model => model.KpiInformations[i].Position)
                    <input type="hidden" name="KpiInformations.Index" value="@a" />
                </div>
                <div class="col-md-8" style="visibility: hidden">
                    @Html.DropDownListFor(model => model.KpiInformations[i].ConfigType, Model.ConfigTypes)
                    
                </div>
            </div>
        }
        a++;
    }
}