@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel

@{
    var labels = new List<string> { "SO2 (mg/Nm3) LP MR Compr", "SO2 (mg/Nm3) HP MR Compr", "SO2 (mg/Nm3) Flaring" };
    for (int i = 0; i < Model.KpiInformations.Count; i++)
    {
        var posIndex = Model.KpiInformations.FirstOrDefault(x => x.Position == i);
        if (posIndex != null)
        {
    <div class="form-group row">
        <label class="control-label col-md-2">@labels.ElementAtOrDefault(i)</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.KpiInformations[i].KpiId, new List<SelectListItem>(), new { @class = "kpi-list form-control", style = "width:180px" })
            @Html.HiddenFor(model => model.KpiInformations[i].Position)
            @Html.DropDownListFor(model => model.KpiInformations[i].ConfigType, Model.ConfigTypes, new { style = "visibility: hidden" })
            
            <input type="hidden" name="KpiInformations.Index" value="@i" />
        </div>
    </div>
        }
    }
}



