@model DSLNG.PEAR.Web.ViewModels.DerLayout.DerLayoutItemViewModel
<h3>DER Layout Item Configuration</h3>

@using (Html.BeginForm("SaveLayoutItem", "DerLayout", FormMethod.Post))
{
    @Html.HiddenFor(model => model.DerLayoutId)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Column)
    @Html.HiddenFor(model => model.Row)

    <div class="form-group row">
        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Type, Model.Types, "Select Type", new { style = "color:#000", @class = "der-layout-type" })
            @Html.ValidationMessageFor(model => model.Row)
        </div>
    </div>
    <div class="form-group row layout-type-area" style="min-height: 50px;padding-left: 13px;"></div>
    <div class="col-md-12 artifact-designer-btns">
        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
        @*<button data-preview-url="@Url.Action("Preview", "Artifact")"  id="graphic-preview-btn" type="button" class="btn btn-primary btn-lg"><span class="fa fa-eye"></span>View</button>*@
        <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
        <a href="@Url.Action("Config", "DerLayout", new { id = Model.DerLayoutId })" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
    </div>
}


<div id="hidden-fields-holder" data-kpi-url="@Url.Action("KpiList", "Artifact")"></div>



<script type="text/javascript">
    $(document).ready(function () {
        var getForm = function () {
            var that = $('.der-layout-type');
            switch ($('.der-layout-type').val().toLowerCase()) {
                case 'multiaxis':
                case 'jcc-monthly-trend':
                    $.ajax({
                        url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                        success: function (data) {
                            $('.layout-type-area').html(data);
                            var $hiddenFields = $('#hidden-fields');
                            $('#hidden-fields-holder').html($hiddenFields.html());
                            $hiddenFields.remove();
                            var pear = window.Pear;
                            var callback = pear.Artifact.Designer._setupCallbacks;
                            callback['multiaxis']();
                        }
                    });
                    break;
                case 'barmeter':
                case 'speedometer':
                    $.ajax({
                        url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                        success: function (data) {
                            $('.layout-type-area').html(data);
                            var $hiddenFields = $('#hidden-fields');
                            $('#hidden-fields-holder').html($hiddenFields.html());
                            $hiddenFields.remove();
                            var pear = window.Pear;
                            pear.Artifact.Designer._kpiAutoComplete($('.layout-type-area'));
                            var callback = pear.Artifact.Designer._setupCallbacks;
                            callback['speedometer']();
                        }
                    });
                    break;
                case 'highlight':
                case 'prepared-by':
                case 'reviewed-by':
                    {
                        $.ajax({
                            url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                            success: function (data) {
                                $('.layout-type-area').html(data);
                            }
                        });
                        break;
                    }
                case 'avg-ytd-key-statistic':
                case 'temperature':
                case 'safety':
                case 'lng-and-cds':
                case 'security':
                case 'job-pmts':
                case 'total-feed-gas':
                case 'table-tank':
                case 'mgdp':
                case 'hhv':
                case 'lng-and-cds-production':
                case 'weekly-maintenance':
                case 'critical-pm':
                case "procurement":
                case "indicative-commercial-price":
                case "plant-availability":
                case "economic-indicator":
                case "global-stock-market":
                case 'dafwc':
                case 'termometer':
                case 'loading-duration':
                case 'person-on-board':
                case 'flare':
                case 'total-commitment':
                case 'no2':
                case 'so2':
                case 'particulate':
                case 'oil-grease':
                case 'ph':
                    {
                        $.ajax({
                            url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                            success: function (data) {
                                $('.layout-type-area').html(data);
                                window.Pear.Artifact.Designer._kpiAutoComplete($('.layout-type-area'));
                            }
                        });

                        break;
                    }
                
                case 'key-equipment-status':
                    {
                        $.ajax({
                            url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                            success: function (data) {
                                $('.layout-type-area').html(data);
                            }
                        });

                        break;
                    }
                default:
                    $.ajax({
                        url: '@Url.Action("LayoutSetting", "DerLayout", new { type = "_type_" })'.replace('_type_', that.val()),
                        success: function (data) {
                            $('.layout-type-area').html(data);
                            var pear = window.Pear;
                            var callback = pear.Artifact.Designer._setupCallbacks;
                            callback[that.val()]();
                        }
                    });
                    break;
            };
        };
        getForm();
        $('.der-layout-type').change(function () {
            getForm();
        });
    });
</script>
