@model DSLNG.PEAR.Web.ViewModels.Der.DerDisplayViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DER Preview</title>

    <!-- Latest compiled and minified CSS -->
    @Styles.Render("~/Content/der_preview")
    <style>
        .first-row {
            height: 20pt;
            vertical-align: middle;
            padding-top: 8px;
        }

        .next-row {
            height: 11pt;
        }

        .indicative-titlehead {
            font-size: 8.5pt;
            padding: 4.5pt;
            height: 29pt;
        }

        .indicative-titlediv {
            display: table-cell;
            height: 30pt;
            vertical-align: middle;
        }

        .creditgroup {
            display: none !important;
        }

        .textoverflow-clip {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .psig {
            height: 19px;
            padding-left: 5px;
        }

        .tr-ophighlight {
            padding-top: 0px;
            padding-bottom: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .der-yesterday {
            display: inline;
            left: 0;
            position: absolute;
            font-size: 25px;
            top: 3px;
            color: #fff;
        }

        .der-tomorrow {
            display: inline;
            right: 0;
            position: absolute;
            font-size: 25px;
            top: 3px;
            color: #fff;
        }
        
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
@helper DerDate(int addDays)
{
var date = DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy");
if (Request.QueryString["date"] != null)
{
    date = Request.QueryString["date"];
}
var d = DateTime.ParseExact(date, "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture).AddDays(addDays).ToString("MM/dd/yyyy");
    @Url.Action("Preview", "Der", new { date = d });
}
<body data-date="@DateTime.Now.ToString("MM/dd/yyyy")">
    <div class="control">

        <div style="position:absolute;left:20px;top:20px">
            <div style="position:relative;">
                <a class="der-yesterday" href="@DerDate(-1)">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
                <input name="date" class="form-control datepicker" style="width:60%;margin-left:43px" />
                <a class="der-tomorrow" href="@DerDate(1)"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
            </div>
        </div>
        <a class="btn btn-default" onclick="location.reload(true)">Refresh</a>
        <a class="btn btn-default" href="@Url.Action("Index","DER")">Back To List</a>

        <form action="@Url.Action("Generate","DER")" method="post">
            @if (Session["DER"] != null)
            {
                var privilege = Session["DER"] as List<string>;
                if (privilege.Contains("AllowPublish"))
                {
                    <input class="btn btn-primary generate" type="submit" value="Publish" />
                }
            }

        </form>
    </div>
    <div class="container a3-ratio preview">
        <table class="main-table" style="width:100%">
            <tr class="header">
                <td class="header-left text-center" style="width:65%">
                    <h4>DAILY EXECUTIVE REPORT</h4>
                    <h5>The Last 24 Hours Business Perfomance</h5>
                    <h5>
                        FOR THE PERIOD ENDED: @{
                            if (Request.QueryString["date"] != null)
                            {
                                var id = DateTime.ParseExact(Request.QueryString["date"], "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture).AddDays(-1).ToString("dd-MMM-yyyy");
                                <text>@id</text>
                            }
                            else
                            {
                                var id = DateTime.Now.AddDays(-1).ToString("dd-MMM-yyyy");
                                <text>@id</text>
                            }
                        } until LT24:00 HOURS
                    </h5>
                </td>
                <td class="header-right-wrapper" style="width:35%">
                    <div class="header-right" style="text-indent:-7000px">
                        <p style="width:200px">header-background</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr>
                            <td style="width:40%">
                                @{
                                    var row0Col0 = Model.Items.FirstOrDefault(x => x.Row == 0 && x.Column == 0);
                                    if (row0Col0 != null)
                                    {
                                        <div data-url="@Url.Action("LayoutItem", "Der", new { id = row0Col0.Id })" class="layout-item"></div>
                                    }
                                }
                            </td>
                            <td>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:85%" class="daily-highlight">
                                            <h5 style="text-decoration: underline;">Daily Highlight : </h5>
                                            @{
                                                var row0Col3 = Model.Items.FirstOrDefault(x => x.Row == 0 && x.Column == 3);
                                                if (row0Col3 != null)
                                                {
                                                    @*<div class="layout-item daily-highlight"><span class="indicator">row0Col3.</span></div>*@
                                                    <div data-url="@Url.Action("LayoutItem", "Der", new { id = row0Col3.Id })" class="layout-item daily-highlight"></div>
                                                }
                                            }
                                            @{
                                                var row0Col1 = Model.Items.FirstOrDefault(x => x.Row == 0 && x.Column == 1);
                                                if (row0Col1 != null)
                                                {
                                                    <div data-url="@Url.Action("LayoutItem", "Der", new { id = row0Col1.Id })" class="layout-item "></div>
                                                }
                                            }
                                        </td>
                                        <td style="width:15%">
                                            @{
                                                var row0Col2 = Model.Items.FirstOrDefault(x => x.Row == 0 && x.Column == 2);
                                                if (row0Col2 != null)
                                                {
                                                    <div data-url="@Url.Action("LayoutItem", "Der", new { id = row0Col2.Id })" class="layout-item speedo-wrapper"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr>
                            <td style="width:25%;padding:5px 10px;">
                                @{
                                    var row1Col0 = Model.Items.FirstOrDefault(x => x.Row == 1 && x.Column == 0);
                                    if (row1Col0 != null)
                                    {
                                        <div data-fraction="10" data-url="@Url.Action("LayoutItem", "DerImage", new { id = row1Col0.Id })" class="layout-item row1col0"></div>
                                    }
                                }
                            </td>
                            <td style="width:25%;padding:5px 10px;">
                                @{
                                    var row1Col1 = Model.Items.FirstOrDefault(x => x.Row == 1 && x.Column == 1);
                                    if (row1Col1 != null)
                                    {
                                        <div data-fraction="500" data-min="0" data-url="@Url.Action("LayoutItem", "DerImage", new { id = row1Col1.Id })" class="layout-item row1col1"></div>
                                    }
                                }
                            </td>
                            <td style="width:25%;padding:5px 10px;">
                                @{
                                    var row1Col2 = Model.Items.FirstOrDefault(x => x.Row == 1 && x.Column == 2);
                                    if (row1Col2 != null)
                                    {
                                        <div data-fraction="1" data-url="@Url.Action("LayoutItem", "DerImage", new { id = row1Col2.Id })" class="layout-item row1col2"></div>
                                    }
                                }
                            </td>
                            <td style="width:25%;padding:5px 10px;">
                                @{
                                    var row1Col3 = Model.Items.FirstOrDefault(x => x.Row == 1 && x.Column == 3);
                                    if (row1Col3 != null)
                                    {
                                        <div data-fraction="0.5" data-url="@Url.Action("LayoutItem", "DerImage", new { id = row1Col3.Id })" class="layout-item row1col3"></div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="text-center safty-management proper"><label>QHSSE & PROCESS SAFETY MANAGEMENT</label></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr class="safty-management-row">
                            <td style="width:43%;border-right:1px solid #444">
                                @{
                                    var row2Col0 = Model.Items.FirstOrDefault(x => x.Row == 2 && x.Column == 0);
                                    if (row2Col0 != null)
                                    {
                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row2Col0.Id })" class="layout-item"></div>
                                    }
                                }
                            </td>
                            <td style="width:25%;border-right:1px solid #444">
                                <table class="table borderless weather">
                                    <tbody>
                                        @{
                                            var row2Col1 = Model.Items.FirstOrDefault(x => x.Row == 2 && x.Column == 1);
                                            if (row2Col1 != null)
                                            {
                                                <tr data-url="@Url.Action("LayoutItem", "Der", new { id = row2Col1.Id })" class="layout-item"></tr>
                                            }
                                        }
                                        @{
                                            var row2Col3 = Model.Items.FirstOrDefault(x => x.Row == 2 && x.Column == 3);
                                            if (row2Col3 != null)
                                            {
                                                <tr data-url="@Url.Action("LayoutItem", "Der", new { id = row2Col3.Id })" class="layout-item"></tr>
                                            }
                                        }
                                        @*<tr rowspan="2">
                                                <td colspan="2">
                                                    <label>Weather:</label>
                                                </td>
                                                <td>
                                                    @Model.Text
                                                </td>
                                                <td class="text-right">
                                                    <img height="20" src="@Url.Content("/content/img/select/" + Model.Value)">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label>Ambient Temperature 0C&#176;:</label>
                                                </td>
                                                <td>
                                                    Low:@GetTemperature(Model.Temperature, 0)
                                                    <img height="20" src="@Url.Content("/content/images/suhu.png")" />
                                                </td>
                                                <td colspan="2" class="text-right">
                                                    High:@GetTemperature(Model.Temperature, 1)
                                                </td>
                                            </tr>*@
                                    </tbody>
                                </table>
                            </td>
                            <td style="width:32%">
                                @{
                                    var row2Col2 = Model.Items.FirstOrDefault(x => x.Row == 2 && x.Column == 2);
                                    if (row2Col2 != null)
                                    {
                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row2Col2.Id })" class="layout-item"></div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr>
                            <td style="width:43%;border-right:1px solid #444">
                                @{
                                    var row3Col0 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 0);
                                    if (row3Col0 != null)
                                    {
                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col0.Id })" class="layout-item"></div>
                                    }
                                }
                            </td>
                            <td style="width:25%;border-right:1px solid #444">
                                <table class="qhse-remark table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">
                                                QHSE & PSM Highlight
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @{
                                                    var row3Col1 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 1);
                                                    if (row3Col1 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col1.Id })" class="layout-item"></div>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="weekly-alarm table borderless">
                                    <thead>
                                        <tr>
                                            <td style="padding:4px;text-align: center">
                                                @*@{
                                                        var row3Col5 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 5);
                                                        if (row3Col5 != null)
                                                        {
                                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col5.Id })" class="layout-item highlight-json in-left"></div>
                                                        }
                                                    }*@
                                                Environmental Quality Monitoring @*(<span class="weekly-alarm-period"></span>)*@

                                            </td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="height: 64px;" width="608">
                                                    <tbody>
                                                        <tr style="font-weight: bold" class="enviromental-label">
                                                            <td>
                                                                Emission :
                                                            </td>
                                                            <td style="text-align: center">
                                                                NO<sub>2</sub>
                                                            </td>
                                                            <td style="text-align: center">
                                                                SO<sub>2</sub>
                                                            </td>
                                                            <td style="text-align: center">
                                                                Particulate
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding: 0">
                                                                <img src="@Url.Content("~/Content/img/der-emission.png")" style="height:38px" />
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var row3Col6 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 6);
                                                                    if (row3Col6 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col6.Id })" class="layout-item highlight-traffic-light"></div>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var row3Col7 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 7);
                                                                    if (row3Col7 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col7.Id })" class="layout-item highlight-traffic-light"></div>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @{
                                                                    var row3Col8 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 8);
                                                                    if (row3Col8 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col8.Id })" class="layout-item highlight-traffic-light"></div>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr style="font-weight: bold">
                                                            <td colspan="4" class="enviromental-label">Effluent Waste Water Discharge of Sewage Treatment Plant :</td>
                                                        </tr>
                                                        <tr style="font-weight: bold" class="class=" enviromental-label"">
                                                            <td rowspan="2">
                                                                <img src="/Content/img/der-eff.png" style="height: 52px;padding: 0;">
                                                            </td>
                                                            <td colspan="2" style="text-align: center;font-size:12px">
                                                                pH
                                                            </td>
                                                            <td>
                                                                Oil & Grease
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">
                                                                @{
                                                                    var row3Col9 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 9);
                                                                    if (row3Col9 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col9.Id })" class="layout-item highlight-traffic-light"></div>
                                                                    }
                                                                }
                                                            </td>
                                                           
                                                            <td>
                                                                @{
                                                                    var row3Col10 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 10);
                                                                    if (row3Col10 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col10.Id })" class="layout-item highlight-traffic-light"></div>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @{
                                                    var row3Col2 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 2);
                                                    if (row3Col2 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col2.Id })" class="layout-item highlight-json-weekly-alarm"></div>
                                                    }
                                                }
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </td>
                            <td style="width:32%">
                                <table class="table table-bordered pie">
                                    <thead>
                                        <tr>
                                            <td colspan="2" style="text-align:center">
                                                PROCESS UPSET / ANOMALY / CONDITION
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 30%; border-right:none; vertical-align:middle;padding-right:20px">
                                                @{
                                                    var row3Col3 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 3);
                                                    if (row3Col3 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col3.Id })" class="layout-item"></div>
                                                    }
                                                }
                                            </td>
                                            <td style="width: 70%;border-left:none">
                                                @{
                                                    var row3Col4 = Model.Items.FirstOrDefault(x => x.Row == 3 && x.Column == 4);
                                                    if (row3Col4 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row3Col4.Id })" class="layout-item pie-wrapper"></div>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%">
                        <tr>
                            <td style="width:50%" class="security-remarks-wrapper">
                                @{
                                    <h5 style="text-decoration: underline;">Security Remarks : </h5>
                                    var row4Col0 = Model.Items.FirstOrDefault(x => x.Row == 4 && x.Column == 0);
                                    if (row4Col0 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row4Col0.Id })" class="layout-item"></div>
                                    }
                                }
                            </td>
                            <td style="width:50%">
                                <table style="width:100%" class="security-incident-wrapper">
                                    <tr>
                                        <td style="width:75%">
                                            @{
                                                var row4Col1 = Model.Items.FirstOrDefault(x => x.Row == 4 && x.Column == 1);
                                                if (row4Col1 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row4Col1.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                        <td style="width:25%">
                                            @{
                                                var row4Col2 = Model.Items.FirstOrDefault(x => x.Row == 4 && x.Column == 2);
                                                if (row4Col2 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row4Col2.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="text-center commercial-operation proper"><label>COMMERCIAL OPERATION & MAINTENANCE PERFORMANCE</label></div>
                </td>
            </tr>
            @*<tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>*@
            <tr>
                <td colspan="2">
                    <div class="text-center feed-gas proper"><label>FEED GAS TO PLANT</label></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="feed-gas-row">
                    <table style="width:100%">
                        <tr>
                            <td style="width:50%;padding-right:5px;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:45%">
                                            @{
                                                var row5Col0 = Model.Items.FirstOrDefault(x => x.Row == 5 && x.Column == 0);
                                                if (row5Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row5Col0.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                        <td style="width:50%" rowspan="2">
                                            @{
                                                var row5Col2 = Model.Items.FirstOrDefault(x => x.Row == 5 && x.Column == 2);
                                                if (row5Col2 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row5Col2.Id })" class="layout-item row5col2"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:40%">
                                            @{
                                                var row5Col1 = Model.Items.FirstOrDefault(x => x.Row == 5 && x.Column == 1);
                                                if (row5Col1 != null)
                                                {
                                                    <div data-url="@Url.Action("LayoutItem", "Der", new { id = row5Col1.Id })" class="layout-item row5col1"></div>
                                                }
                                            }

                                        </td>
                                    </tr>
                                </table>

                                <table style="width:100%">
                                    <tr>
                                        <td style="width:58.5%;padding:0">
                                            @{
                                                var row6Col0 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 0);
                                                if (row6Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col0.Id })" class="layout-item"></div>
                                                }
                                            }
                                            <div class="psig">
                                                Feed Gas Pressure (Psig):
                                                @{
                                                    var row6Col3 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 3);
                                                    if (row6Col3 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col3.Id })" class="layout-item barmeter"></div>
                                                    }
                                                }
                                            </div>
                                            <div class="hhv-bar">
                                                Feed Gas HHV@USM (btu/scf):
                                                @{
                                                    var row6Col11 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 11);
                                                    if (row6Col11 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col11.Id })" class="layout-item barmeter"></div>
                                                    }
                                                }
                                            </div>
                                        </td>
                                        <td style="width:41.5%;padding:0">
                                            <div class="impurities vertical-space text-center">
                                                <label style="margin-top:10px">Impurities (24H Avg-GSA spec)</label>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="width:40%">
                                                            @{
                                                                var row6Col4 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 4);
                                                                if (row6Col4 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col4.Id })" class="layout-item barmeter">
                                                                        <label>H<span style="font-size:8px">2</span>S- ppm</label>
                                                                    </div>
                                                                }
                                                            }
                                                            @{
                                                                var row6Col7 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 7);
                                                                if (row6Col7 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col7.Id })" class="layout-item barmeter">
                                                                        <label>CO<sub>2</sub>- ppm</label>
                                                                    </div>
                                                                }
                                                            }
                                                            @{
                                                                var row6Col9 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 9);
                                                                if (row6Col9 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col9.Id })" class="layout-item barmeter">
                                                                        <label>H<span style="font-size:8px">2</span>O- ppm</label>
                                                                    </div>
                                                                }
                                                            }
                                                        </td>
                                                        <td style="position:relative;">
                                                            <div class="thermometer">
                                                                @{
                                                                    var row6Col5 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 5);
                                                                    if (row6Col5 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col5.Id })" class="layout-item bar-thermo">
                                                                            <img class="drop" src="@Url.Content("~/Content/images/water-drop.png")" />
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="thermometer preview">
                                                                @{
                                                                    if (row6Col5 != null)
                                                                    {
                                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col5.Id })" class="layout-item bar-thermo">
                                                                            <img class="drop" src="@Url.Content("~/Content/images/water-drop.png")" />
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                        </td>
                                                        <td style="width:40%">
                                                            @{
                                                                var row6Col6 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 6);
                                                                if (row6Col6 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col6.Id })" class="layout-item barmeter">
                                                                        <label>BTX-ppm</label>
                                                                    </div>
                                                                }
                                                            }
                                                            @{
                                                                var row6Col8 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 8);
                                                                if (row6Col8 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col8.Id })" class="layout-item barmeter" data-break="true">
                                                                        <label>Ttl Sulphur-ppm</label>
                                                                    </div>
                                                                }
                                                            }
                                                            @{
                                                                var row6Col10 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 10);
                                                                if (row6Col10 != null)
                                                                {
                                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col10.Id })" class="layout-item barmeter">
                                                                        <label>Hg-MRU outlet ng/nm3</label>
                                                                    </div>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                @{
                                    var row7Col0 = Model.Items.FirstOrDefault(x => x.Row == 7 && x.Column == 0);
                                    if (row7Col0 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row7Col0.Id })" class="layout-item"></div>
                                    }
                                }
                                <table class="table table-bordered tank">
                                    <thead>
                                        <tr>
                                            <td colspan="2" style="width:24.9%;text-align:center;vertical-align:bottom;">
                                                @{
                                                    var row8Col0 = Model.Items.FirstOrDefault(x => x.Row == 8 && x.Column == 0);
                                                    if (row8Col0 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row8Col0.Id })" class="layout-item tank-wrapper" style="width:130px;height:110px" id="lngTank"></div>
                                                    }
                                                }
                                            </td>
                                            <td colspan="2" style="width:33.94%;text-align:center;vertical-align:bottom;">
                                                @{
                                                    var row8Col1 = Model.Items.FirstOrDefault(x => x.Row == 8 && x.Column == 1);
                                                    if (row8Col1 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row8Col1.Id })" class="layout-item tank-wrapper" style="width:120px;height:100px" id="cdsStorageTank"></div>
                                                    }
                                                }
                                            </td>
                                            <td colspan="2" style="width:23.81%;text-align:center;vertical-align:bottom;">
                                                @{
                                                    var row8Col2 = Model.Items.FirstOrDefault(x => x.Row == 8 && x.Column == 2);
                                                    if (row8Col2 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row8Col2.Id })" class="layout-item tank-wrapper" style="width:75px;height:100px" id="cdsBufferTank"></div>
                                                    }
                                                }
                                            </td>
                                            <td style="width:17.35%;text-align:center;vertical-align:bottom;">
                                                @{
                                                    var row8Col3 = Model.Items.FirstOrDefault(x => x.Row == 8 && x.Column == 3);
                                                    if (row8Col3 != null)
                                                    {
                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row8Col3.Id })" class="layout-item tank-wrapper especially-for-you" style="width:90px;height:40px" data-type="custom"></div>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @{
                                    var row9Col0 = Model.Items.FirstOrDefault(x => x.Row == 9 && x.Column == 0);
                                    if (row9Col0 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row9Col0.Id })" class="layout-item"></div>
                                    }
                                }

                                <div id="weekly-maintenance-backlog-highlight">
                                    @{
                                        var row10Col2 = Model.Items.FirstOrDefault(x => x.Row == 10 && x.Column == 2);
                                        if (row10Col2 != null)
                                        {

                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row10Col2.Id })" class="layout-item highlight-json in-left"></div>
                                        }
                                    }
                                </div>

                                @{
                                    var row10Col0 = Model.Items.FirstOrDefault(x => x.Row == 10 && x.Column == 0);
                                    if (row10Col0 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row10Col0.Id })" class="layout-item"></div>
                                    }
                                }

                                <div id="weekly-critical-highlight">
                                    @{
                                        var row11Col2 = Model.Items.FirstOrDefault(x => x.Row == 11 && x.Column == 2);
                                        if (row11Col2 != null)
                                        {

                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row11Col2.Id })" class="layout-item highlight-json in-left"></div>
                                        }
                                    }
                                </div>

                                @{
                                    var row11Col0 = Model.Items.FirstOrDefault(x => x.Row == 11 && x.Column == 0);
                                    if (row11Col0 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row11Col0.Id })" class="layout-item"></div>
                                    }
                                }

                                <table style="width:100%;min-height:60px">
                                    <tr style="height:11px; margin-bottom:0px; padding-bottom:0px !important;">
                                        <td style="width:80%; padding-bottom: 0px;margin-bottom: 0px;">
                                            <h5 style="text-decoration: underline;">Operation Highlight &amp; Immediate Concern :</h5>

                                        </td>

                                        <td style="width:82%">
                                            <label>Plant Mode :</label>
                                            @{
                                                var row12Col2 = Model.Items.FirstOrDefault(x => x.Row == 12 && x.Column == 2);
                                                if (row12Col2 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row12Col2.Id })" class="layout-item highlight-json-plant-mode "></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" valign="top" style="padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;">
                                            @{
                                                var row12Col0 = Model.Items.FirstOrDefault(x => x.Row == 12 && x.Column == 0);
                                                if (row12Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row12Col0.Id })" class="layout-item highlight-style-12"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>

                                <table style="width:100%;min-height:60px">
                                    <tr>
                                        <td>
                                            <h5 style="text-decoration: underline;"> Maintenance Highlight &amp; Immediate Concern:</h5>
                                            @{
                                                var row13Col0 = Model.Items.FirstOrDefault(x => x.Row == 13 && x.Column == 0);
                                                if (row13Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row13Col0.Id })" class="layout-item highlight-style-12"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td style="width:50%;padding-left:5px;">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:50%;padding:0;padding-bottom: 16px;">
                                            @{
                                                var row5Col3 = Model.Items.FirstOrDefault(x => x.Row == 5 && x.Column == 3);
                                                if (row5Col3 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row5Col3.Id })" class="layout-item row5col3" style="padding-top: 4px;height: 200px"></div>
                                                }

                                            }
                                        </td>
                                        <td style="width:50%;padding:0">
                                            @{
                                                var row5Col4 = Model.Items.FirstOrDefault(x => x.Row == 5 && x.Column == 4);
                                                if (row5Col4 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row5Col4.Id })" class="layout-item row5col4" style="padding-top: 4px;height: 200px"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:62.7%;padding:0">
                                            @{
                                                var row6Col2 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 2);
                                                if (row6Col2 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col2.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                        <td style="width:37.3%;padding:0">
                                            @{
                                                var row6Col12 = Model.Items.FirstOrDefault(x => x.Row == 6 && x.Column == 12);
                                                if (row6Col12 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row6Col12.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                                @{
                                    var row7Col1 = Model.Items.FirstOrDefault(x => x.Row == 7 && x.Column == 1);
                                    if (row7Col1 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row7Col1.Id })" class="layout-item"></div>
                                    }
                                }

                                @{
                                    var row8Col4 = Model.Items.FirstOrDefault(x => x.Row == 8 && x.Column == 4);
                                    if (row8Col4 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row8Col4.Id })" class="layout-item"></div>
                                    }
                                }

                                @{
                                    var row10Col1 = Model.Items.FirstOrDefault(x => x.Row == 10 && x.Column == 1);
                                    if (row10Col1 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row10Col1.Id })" class="layout-item"></div>
                                    }
                                }
                                @{
                                    var row12Col1 = Model.Items.FirstOrDefault(x => x.Row == 12 && x.Column == 1);
                                    if (row12Col1 != null)
                                    {

                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new {id = row12Col1.Id})" class="layout-item"></div>
                                    }

                                }
                                @{
                                    var row11Col1 = Model.Items.FirstOrDefault(x => x.Row == 11 && x.Column == 1);
                                    if (row11Col1 != null)
                                    {
                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row11Col1.Id })" class="layout-item highlight-style-12" style="min-height:60px;"></div>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color: #8db4e2;">
                    <div class="text-center support proper">
                        <label>SUPPORT &amp; ENABLER PERFORMANCE</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:50%;padding:0;border-right:1px solid #444">
                                <table style="width:100%">
                                    <tr>
                                        <td style="width:40%;padding:0">
                                            @{
                                                var row14Col0 = Model.Items.FirstOrDefault(x => x.Row == 14 && x.Column == 0);
                                                if (row14Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row14Col0.Id })" class="layout-item"></div>
                                                }
                                            }

                                            @{
                                                var row15Col0 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 0);
                                                if (row15Col0 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15Col0.Id })" class="layout-item"></div>
                                                }
                                            }
                                            <div style="height:94px; border-bottom:solid 1px;">
                                                <div style="padding-left:5px; padding-top:5px;padding-bottom:2px; margin-bottom:1px;">
                                                    <h5 style="text-decoration: underline;margin-top:2px">ICT Infrastructure and System Highlight </h5>
                                                    @{
                                                        var row16Col6 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 6);
                                                        if (row16Col6 != null)
                                                        {

                                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col6.Id })" class="layout-item" style="height: 12px; padding-bottom:0px;margin-bottom:0px;max-height:3em;line-height:1em;min-height:3eml"></div>

                                                        }
                                                    }
                                                </div>
                                                @{
                                                    var row16Col4 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 4);
                                                    if (row16Col4 != null)
                                                    {

                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col4.Id })" class="layout-item highlight-json-ict-infra"></div>
                                                    }
                                                }
                                            </div>

                                            <table style="width:100%">
                                                <tr style="padding-top:5px;padding-bottom:2px; margin-bottom:1px;">
                                                    <td style="width:40%">
                                                        <h5 style="text-decoration: underline;margin-top:1px">GS &amp; FM </h5>

                                                    </td>
                                                    <td style="width:60%">
                                                        <u>Person-on-Board</u>:
                                                        @{
                                                            var row15Col3 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 3);
                                                            if (row15Col3 != null)
                                                            {

                                                                <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15Col3.Id })" class="layout-item" style="display: inline"></div>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" style="padding-top:0px; margin-top:0px;">
                                                        @{
                                                            var row16Col7 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 7);
                                                            if (row16Col7 != null)
                                                            {

                                                                <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col7.Id })" class="layout-item textoverflow-clip" style="height: 12px; padding-bottom:0px;margin-bottom:0px;max-height:3em;line-height:1em;min-height:3em;"></div>

                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                            @{
                                                var row16Col5 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 5);
                                                if (row16Col5 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col5.Id })" class="layout-item highlight-json-gs-fm"></div>
                                                }
                                            }
                                        </td>
                                        <td style="width:60%;padding:0">
                                            @{
                                                var row14Col1 = Model.Items.FirstOrDefault(x => x.Row == 14 && x.Column == 1);
                                                if (row14Col1 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row14Col1.Id })" class="layout-item"></div>
                                                }
                                            }

                                            @{
                                                var row16Col1 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 1);
                                                if (row16Col1 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col1.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:50%;padding:0">
                                <div class="co-macro-eco">
                                    <div class="community highlight-style-12">
                                        <img align="right" src="@Url.Content("~/content/images/icon-operation.png")">
                                        <h5 style="text-decoration: underline;font-size:12px">Community relation and government engagement highlight</h5>
                                        <p>
                                            @{
                                                var row14Col2 = Model.Items.FirstOrDefault(x => x.Row == 14 && x.Column == 2);
                                                if (row14Col2 != null)
                                                {

                                                    <div style="width:567px" data-url="@Url.Action("LayoutItem", "DerImage", new { id = row14Col2.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </p>
                                    </div>
                                    <div class="macro-eco highlight-style-12">
                                        <div class="market-tone">
                                            <label style="font-size:12px">Market Tone:</label>
                                            @{
                                                var row15Col2 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 2);
                                                if (row15Col2 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15Col2.Id })" class="layout-item highlight-json-market-tone"></div>

                                                }
                                            }
                                        </div>
                                        <h5 style="text-decoration: underline;font-size:12px">Macro Economic/Market Flash</h5>
                                        <p>
                                            @{
                                                var row15Col1 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 1);
                                                if (row15Col1 != null)
                                                {

                                                    <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15Col1.Id })" class="layout-item"></div>
                                                }
                                            }
                                        </p>
                                    </div>

                                </div>
                                <div class="chart-bottom">
                                    <table style="width:100%">
                                        <tr>
                                            <td style="width: 40%">
                                                @{
                                                    var row15col4 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 4);
                                                    if (row15col4 != null)
                                                    {

                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15col4.Id })" class="layout-item row15col4" style="height:50px;"></div>
                                                    }
                                                }
                                            </td>
                                            <td style="width: 60%">
                                                @{
                                                    var row15col5 = Model.Items.FirstOrDefault(x => x.Row == 15 && x.Column == 5);
                                                    if (row15col5 != null)
                                                    {

                                                        <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row15col5.Id })" class="layout-item row15col5" style="max-height:192px"></div>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-left: 0;border-bottom:0">
                    <table style="width:100%">
                        <tbody>
                            <tr style="border-left: 0">
                                <td style="width:50%;"></td>
                                <td style="width:50%;border-left: 1px solid;border-bottom: 1px solid;">
                                    <table class="table table-bordered signature">
                                        <thead>
                                            <tr>
                                                <td style="text-align: center">Prepared By</td>
                                                <td style="text-align: center">Reviewed By</td>
                                                <td style="text-align: center">
                                                    @{
                                                        if (Request.QueryString["date"] != null)
                                                        {
                                                            var id = "DER/" + DateTime.ParseExact(Request.QueryString["date"], "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MMM-yyyy");
                                                            <text>@id</text>
                                                        }
                                                        else
                                                        {
                                                            var id = "DER/" + DateTime.Now.ToString("dd-MMM-yyyy");
                                                            <text>@id</text>
                                                        }
                                                    }
                                                    Generated by PEAR system
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="signature">
                                                    @{
                                                        var row16Col2 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 2);
                                                        if (row16Col2 != null)
                                                        {

                                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col2.Id })" class="layout-item"></div>
                                                        }

                                                    }
                                                </td>
                                                <td class="signature">
                                                    @{
                                                        var row16Col3 = Model.Items.FirstOrDefault(x => x.Row == 16 && x.Column == 3);
                                                        if (row16Col3 != null)
                                                        {

                                                            <div data-url="@Url.Action("LayoutItem", "DerImage", new { id = row16Col3.Id })" class="layout-item"></div>
                                                        }

                                                    }

                                                </td>
                                                <td>

                                                    <img src="@Url.Content("~/content/images/strictly-sign.png")">
                                                    <span style="display:block">Not for custody/commercial (information purpose only)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/rgb-color.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/StackBlur.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/canvg.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fusioncharts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fusioncharts.widgets.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fusioncharts.gantt.js")"></script>
    @Scripts.Render("~/bundles/der_preview_js")

    <script type="text/javascript">
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            return null;
        }
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        var reloadView = function () {
            window.document.location = updateQueryStringParameter(window.location.href, "date", encodeURIComponent($('.datepicker').val()));
        };
        $(document).ready(function () {
            var date = getQueryVariable('date');
            if (date == null) {
                $('.datepicker').val($('body').data('date'));
            } else {
                $('.datepicker').val(decodeURIComponent(date));
            }
            var currentDate = $('.datepicker').val();
            $('.datepicker').datetimepicker({
                format: "MM/DD/YYYY",
                focusOnShow: false
            }).on('dp.change', function (e) {
                $(".datepicker").blur();
                reloadView();
            });

            currentDate = moment(currentDate, "MM/DD/YYYY");
            currentDate = currentDate.subtract(1, 'day').format("MM/DD/YYYY");

            $('.generate').click(function (e) {
                e.preventDefault();
                var $input = $('<input />');
                $input.attr('name', 'date');
                $input.css('display', 'none');
                $input.val(currentDate);
                var $form = $(this).closest('form');
                var $textarea = $('<textarea />');
                $textarea.attr('name', 'content');
                $textarea.css('display', 'none');
                Der.Helper.DrawInlineSVG($('.a3-ratio.preview').find('#chart-lngTank'), $('.a3-ratio.preview').find('#chart-lngTank').children('svg')[0].outerHTML);
                Der.Helper.DrawInlineSVG($('.a3-ratio.preview').find('#chart-cdsStorageTank'), $('.a3-ratio.preview').find('#chart-cdsStorageTank').children('svg')[0].outerHTML);
                Der.Helper.DrawInlineSVG($('.a3-ratio.preview').find('#chart-cdsBufferTank'), $('.a3-ratio.preview').find('#chart-cdsBufferTank').children('svg')[0].outerHTML);

                $textarea.val($('.a3-ratio.preview').html());
                $form.prepend($textarea);
                $form.prepend($input);
                $form.submit();
            });

            var getIcon = function (str) {
                switch (str) {
                    case 0:
                    case "0":
                        return '<span class="indicator left-side"><i class="fa fa-check" style="color:#fee17e"></i></span>';
                    case 1:
                    case "1":
                        return '<span class="indicator left-side"><i class="fa fa-check-circle" style="color:#6eab75"></i></span>';
                    case -1:
                    case "-1":
                        return '<span class="indicator left-side"><i class="fa fa-remove" style="color:#e25b5b"></i></span>';
                    default:
                        return '';
                }

            }

            var getIconForIctInfraFirstColumn = function (str) {
                switch (str) {
                    case 0:
                    case "0":
                        return '<span class="indicator left-side"><i class="fa fa-exclamation" style="color:#fee17e"></i></span>';
                    case 1:
                    case "1":
                        return '<span class="indicator left-side"><i class="fa fa-check-circle" style="color:#6eab75"></i></span>';
                    case -1:
                    case "-1":
                        return '<span class="indicator left-side"><i class="fa fa-times-circle" style="color:#e25b5b"></i></span>';
                    default:
                        return '';
                }

            }


            var getIconForIctInfraSecondColumn = function (str) {
                switch (str) {
                    case 0:
                    case "0":
                        return '<span class="indicator left-side"><i class="fa fa-circle" style="color:#fee17e"></i></span>';
                    case 1:
                    case "1":
                        return '<span class="indicator left-side"><i class="fa fa-check-circle" style="color:#6eab75"></i></span>';
                    case -1:
                    case "-1":
                        return '<span class="indicator left-side"><i class="fa fa-times-circle" style="color:#e25b5b"></i></span>';
                    default:
                        return '';
                }

            }

            var getIconForIctInfraThirdColumn = function (str) {
                switch (str) {
                    case 0:
                    case "0":
                        return '<span class="indicator left-side"><i class="fa fa-signal" style="color:#396694"></i></span>';
                    case 1:
                    case "1":
                        return '<span class="indicator left-side"><i class="fa fa-check-circle" style="color:#6eab75"></i></span>';
                    case -1:
                    case "-1":
                        return '<span class="indicator left-side"><i class="fa fa-times-circle" style="color:#e25b5b"></i></span>';
                    default:
                        return '';
                }
            }

            var getIconForGsFm = function (str) {
                switch (str) {
                    case 0:
                    case "0":
                        return '<span class="indicator left-side"><i class="fa fa-exclamation-circle" style="color:#fee17e"></i></span>';
                    case 1:
                    case "1":
                        return '<span class="indicator left-side"><i class="fa fa-check-circle" style="color:#6eab75"></i></span>';
                    case -1:
                    case "-1":
                        return '<span class="indicator left-side"><i class="fa fa-times-circle" style="color:#e25b5b"></i></span>';
                    default:
                        return '';
                }
            }

            var getNum = function (str) {
                var numb = str.match(/\d/g);
                numb = numb.join("");
                return parseInt(numb);
            }
            $('.layout-item').each(function () {
                var that = $(this);
                $.ajax({
                    url: that.attr('data-url'),
                    data: { currentDate: currentDate },
                    success: function (data) {

                        if (data.GraphicType !== undefined) {
                            if (data.GraphicType == 'jcc-monthly-trend') {
                                var callback = window.Der.Artifact;
                                callback['jccMonthlyTrend'](data, that);
                            } else {
                                var callback = window.Der.Artifact;
                                callback[data.GraphicType](data, that);
                            }

                        } else if (data.type == 'reviewed-by' || data.type == 'prepared-by' || data.type === "highlight" || data.type === "weather" || data.type === 'temperature' ||
                                data.type === "alert" || data.type === "avg-ytd-key-statistic" || data.type === "flare" || data.type === "safety" ||
                            data.type === "security" || data.type === "lng-and-cds" || data.type === "dafwc" || data.type === "job-pmts" || data.type === "total-feed-gas"
                            || data.type === "weekly-maintenance" || data.type === "critical-pm" || data.type === "procurement" || data.type === "indicative-commercial-price" ||
                                data.type === "plant-availability" || data.type === "economic-indicator" || data.type === "mgdp" || data.type === "hhv" || data.type === "lng-and-cds-production"
                            || data.type === "nls" || data.type === "key-equipment-status" || data.type === "wave" || data.type === "table-tank" || data.type === "global-stock-market" || data.type === "loading-duration" || data.type === 'person-on-board'
                            || data.type === 'total-commitment' || data.type === 'no2' || data.type === 'so2' || data.type === 'ph' || data.type === 'particulate' || data.type === 'oil-grease') {

                            if (data.type === "highlight" && that.hasClass('daily-highlight')) {
                                var type = "absolute";
                                if (that.hasClass('in-left')) {
                                    type = 'left-side';
                                } else if (that.hasClass('in-right')) {
                                    type = 'right-side';
                                }
                                if (parseInt(data.view) < 2) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-circle"  style="color:#808080" ></i></span>');
                                } else if (parseInt(data.view) == 2) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-circle" style="color:#F0F0F0"></i></span>');
                                } else if (parseInt(data.view) == 3) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-circle" style="color:#FF0000"></i></span>');
                                } else if (parseInt(data.view) == 4) {
                                    that.replaceWith('<span class="indicator ' + type + ' orange"><i class="fa fa-circle" style="color:orange"></i></span>');
                                } else if (parseInt(data.view) > 4) {
                                    that.replaceWith('<span class="indicator ' + type + ' green"><i class="fa fa-circle" style="color:green"></i></span>');
                                }
                            }
                            else if (data.type === "highlight" && that.hasClass('highlight-json')) {
                                var type = "absolute";
                                if (that.hasClass('in-left')) {
                                    type = 'left-side';
                                } else if (that.hasClass('in-right')) {
                                    type = 'right-side';
                                }
                                if (data.view.toLowerCase().indexOf('-1') > -1) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-times-circle"></i></span>');
                                }
                                else if (data.view.toLowerCase().indexOf('1') > -1) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-circle"></i></span>');
                                } else if (data.view.toLowerCase().indexOf('0') > -1) {
                                    that.replaceWith('<span class="indicator ' + type + '"><i class="fa fa-exclamation-circle"></i></span>');
                                } else {
                                    that.replaceWith('&nbsp;');
                                }

                            }
                            else if (data.type === "highlight" && that.hasClass('highlight-json-plant-mode')) {

                                if (data.view.toLowerCase().indexOf('holding') > -1) {
                                    that.replaceWith("<span style='color:green'>Holding</span>");
                                } else if (data.view.toLowerCase().indexOf('loading') > -1) {
                                    that.replaceWith("<span style='color:blue'>Loading</span>");
                                } else if (data.view.toLowerCase().indexOf('shutdown') > -1) {
                                    that.replaceWith("<span style='color:red'>Shutdown</span>");
                                } else {
                                    that.replaceWith('&nbsp;');
                                }

                            }
                            else if (data.type === "highlight" && that.hasClass('highlight-json-market-tone')) {
                                switch (data.view.trim()) {
                                    case '1':
                                    case 'Bullish':
                                        that.replaceWith("<span class='comparison'><i class='fa fa-arrow-up' style='color:green'></i></span>");
                                        break;
                                    case '0':
                                    case 'Mixed':
                                        that.replaceWith("<span class='comparison'><i class='fa fa-minus' style='color:orange'></i></span>");
                                        break;
                                    case '-1':
                                    case 'Bearish':
                                        that.replaceWith("<span class='comparison'><i class='fa fa-arrow-down' style='color:red'></i></span>");
                                        break;
                                    default:
                                        that.replaceWith('&nbsp;');
                                        break;
                                }
                            }
                            else if (data.type === "highlight" && that.hasClass('highlight-json-ict-infra')) {
                                try {
                                    var js = JSON.parse(data.view);
                                    var transform = [];
                                    transform['a'] = getIconForIctInfraFirstColumn(js.a);
                                    transform['b'] = getIconForIctInfraSecondColumn(js.b);
                                    transform['c'] = getIconForIctInfraThirdColumn(js.c);
                                    var html = '<table class="table borderless ict-infra"><tbody>';
                                    html +=
                                        '<td style="width:10px">' + transform['a'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image002.png")" alt="" width="52" height="25"></td><td style="width:10px">' + transform['b'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image004.png")" alt="" width="52" height="25"></td><td style="width:10px">' + transform['c'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image006.png")" alt="" width="52" height="25"></td>';
                                    html += '</tbody></table>';
                                    that.replaceWith(html);
                                } catch (e) {
                                    console.log('highlight-json-ict-infra');
                                    //console.log(e);
                                    //console.log(data);
                                }
                            }
                            else if (data.type === "highlight" && that.hasClass('highlight-json-gs-fm')) {
                                try {
                                    var js = JSON.parse(data.view);
                                    var transform = [];
                                    transform['a'] = getIconForGsFm(js.a);
                                    transform['b'] = getIconForGsFm(js.b);
                                    transform['c'] = getIconForGsFm(js.c);
                                    var html = '<table class="table borderless gs-fm"><tbody>';
                                    html +=
                                        '<td style="width:10px">' + transform['a'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image008.png")" alt="" width="52" height="25"></td><td style="width:10px">' + transform['b'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image010.png")" alt="" width="52" height="25"></td><td style="width:10px">' + transform['c'] + '</td><td style="width:75px;"><img src="@Url.Content("~/content/images/clip_image012.png")" alt="" width="52" height="25"></td>';
                                    html += '</tbody></table>';
                                    that.replaceWith(html);
                                } catch (e) {
                                    console.log('highlight-json-gs-fm');
                                    //console.log(e);
                                    //console.log(data);
                                }
                            } else if (data.type === "highlight" && that.hasClass('highlight-json-weekly-alarm')) {
                                try {
                                    //console.log(data.view.trim());
                                    var parsed = JSON.parse(data.view);
                                    $('.weekly-alarm-processtrain').html(parsed.processtrain);
                                    $('.weekly-alarm-period').html(parsed.period);
                                    $('.weekly-alarm-note').html(parsed.remark);
                                    $('.weekly-alarm-utilities').html(parsed.utilities);
                                } catch (e) {
                                    console.log('highlight-json-weekly-alarm');
                                    //console.log(e);
                                    //console.log(data);
                                }
                            }
                            else if (data.type == 'weather' || data.type == 'temperature') {
                                that.replaceWith(data.view);
                            }
                            else if (data.type == 'highlight' && that.hasClass('highlight-traffic-light')) {
                                if (data.view.trim().indexOf('1') > -1) {
                                    that.html('<img src="@Url.Content("~/content/img/der-green-light.png")" style="height:21px" />');
                                } else if (data.view.trim().indexOf('0') > -1) {
                                    that.html('<img src="@Url.Content("~/content/img/der-red-light.png")" style="height:21px" />');
                                }

                            }
                                //else if (data.type === 'security') {
                                //    var html = data.view;
                                //    $(html).find('li').map(function () {
                                //        var $this = $(this);
                                //        var nilai = $this.attr('value');
                                //        if (nilai == '0' || nilai == undefined) {
                                //            $this.find('span').css('color', 'red')
                                //        } else {
                                //            $this.find('span').css('color', 'black')
                                //        }
                                //        console.log($this.find('span'));
                                //    });
                                //    console.log(html);
                                //    that.replaceWith(html);
                                //}
                            else {
                                that.html(data.view);
                            }

                            $("p").each(function () {
                                var $this = $(this);
                                if ($this.html() === "&nbsp;") {
                                    $this.remove();
                                }
                            });

                            $("g").each(function () {
                                var $this = $(this);
                                var cd = $('[class$="creditgroup"]');
                                if (cd.length > 0) {
                                    cd.closest('g').remove();
                                }
                            });

                        }

                    }
                });
            });
        })
    </script>
</body>
</html>