@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel

<table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
    <tr>
        <td colspan="2"><label class="control-label lbl-style">USD/JPY :</label></td>
        <td colspan="2"><label class="control-label lbl-style">BRENT Forecast :</label></td>
        <td colspan="2"><label class="control-label">USD/IDR :</label></td>
    </tr>
    <tr>
        <td><label class="control-label lbl-style">1m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 409, 23, "rate", "prev")</td>
        <td><div class="lbl-style">@Html.DisplayBrenfutHighlight(Model.Highlights, 63, 27, 0, "label")</div></td>
        <td><label class="control-label lbl-style">1m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 413, 35, "rate", "prev")</td>
    </tr>
    <tr>
        <td><label class="control-label lbl-style">3m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 410, 24, "rate", "prev")</td>
        <td><div class="lbl-style">@Html.DisplayBrenfutHighlight(Model.Highlights, 63, 29, 1, "label")</div></td>
        <td><label class="control-label lbl-style">3m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 414, 36, "rate", "prev")</td>
    </tr>
    <tr>
        <td><label class="control-label lbl-style">6m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 411, 25, "rate", "prev")</td>
        <td><div class="lbl-style">@Html.DisplayBrenfutHighlight(Model.Highlights, 63, 31, 2, "label")</div></td>
        <td><label class="control-label lbl-style">6m</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 415, 37, "rate", "prev")</td>
    </tr>
    <tr>
        <td><label class="control-label lbl-style">1yr</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 412, 26, "rate", "prev")</td>
        <td><div class="lbl-style">@Html.DisplayBrenfutHighlight(Model.Highlights, 63, 33, 3, "label")</div></td>
        <td><label class="control-label lbl-style">1yr</label></td>
        <td>@Html.DisplayKpiInformationInput(Model.KpiInformations, 416, 38, "rate", "prev")</td>
    </tr>
</table>

