@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    @*@{
        var Model = Model.DerModels.First(x => x.Column == 1 && x.Row == 16);
    }*@
    <div class="col-md-3">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">USD/JPY :</label></td>
            </tr>
            <tr>
                <td><label class="control-label">1m</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 409, 24, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">3m</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 410,  25, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">6m</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 411,  26, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">1yr</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 412,  27, "rate","prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-3">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">BRENT Forecast :</label></td>
            </tr>
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayBrenfutHighlight(Model.Highlights,63,28,0,"label")
                    </span>
                </td>
                @*<td hidden="hidden">
                    <span>
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 2888,0)
                    </span>
                </td>*@
            </tr>
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 29, 1, "label")
                    </span>
                </td>
                @*<td hidden="hidden">
                    <span>
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 3000, 1)
                    </span>
                </td>*@
            </tr>
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 30, 2, "label")
                    </span>
                </td>
                @*<td hidden="hidden">
                    <span>
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 3200, 2)
                    </span>
                </td>*@
            </tr>
            <tr>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 31, 3, "label")
                    </span>
                </td>
                @*<td hidden="hidden">
                    <span>
                        @Html.DisplayBrenfutHighlight(Model.Highlights, 63, 3400, 3)
                    </span>
                </td>*@
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">USD/IDR :</label></td>
            </tr>
            <tr>
                <td><label class="control-label">1m</label></td>
                <td>
                    <span class="col-sm-8">
                            <!-- 37 -->
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 413,  32, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">3m</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 414  ,33, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">6m</label></td>
                <td>
                    <span class="col-sm-8">
                      @Html.DisplayKpiInformationInput(Model.KpiInformations, 415,  34, "rate","prev")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">1yr</label></td>
                <td>
                    <span class="col-sm-8">
                       @Html.DisplayKpiInformationInput(Model.KpiInformations, 416,  35, "rate","prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
