@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Der Custom Input Form</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/datepicker/css/datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")">

</head>
<body>
    <style type="text/css">
        .upper {
            position: fixed;
            top: 0px;
            display: block;
            /*background-image: url(/Content/img/bg_5.jpg);*/
            background-color: rgb(0,109,165);
            z-index:1;
            width:100%;
            padding-left:15px;
            border-bottom:solid 0.1em #CCCCCC;
        }
        .sprite{
            background:url(/Content/img/bg_5.jpg) no-repeat -1700px -745px;
            width:100%;
            height:140px;
        }
        .lower {
            margin-top: 170px;
        }
    </style>
    <div class="container-fluid">
        <section id="der-transaction" data-date="@DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy")">
            <div class="row upper">
                <div class="row">
                    <div class="title_page" style="border: none!important;">
                        <div class="row">
                            <h3 class="page-header" style="margin-top: 0 !important">
                                Der Input 2
                            </h3>
                        </div>
                    </div>
                    <div class="notification"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-inline">
                            <div class="form-group form-list">
                                <font color="#FFFFFF">Date : </font>
                                <input id="currentDate" class="form-control datepicker" type="text">
                                <span class="field-validation-valid" data-valmsg-for="StartInDisplay" data-valmsg-replace="true"></span>
                            </div>
                        </form>
                    </div>
                </div>
                @*<div class="row" style="padding-top: 30px;">
                    <hr />
                </div>*@
                
            </div>
            <div class="lower">
                <div class="row economic-indicators" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-content-url="@Url.Action("EconomicIndicator2",new { date="__date__" })" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Economic Indicator</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-content-url="@Url.Action("EconomicIndicator2",new { date="__date__" })" data-toggle="collapse" href="#collapseEconomic" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseEconomic" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row forecasted" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Forecasted Market Indicator-B</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("ForcastedIndicator2",new { date="__date__" })" href="#collapseForecasted" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseForecasted" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row operation" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Operation & Engineering</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("OperationSection2",new { date="__date__" })" href="#collapseOperation" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseOperation" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row marine" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Marine, Shipping, Cargo Delivery</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("MarineShipping2",new { date="__date__" })" href="#collapseMarine" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseMarine" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row maintanance" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Maintenance</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("MaintenanceSection2",new { date="__date__" })" href="#collapseMaintanance" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseMaintanance" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row qhsse" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">QHSSE</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("QhsseSection2",new { date="__date__" })" href="#collapseQhsse" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseQhsse" style="margin-top: 15px; margin-bottom: 15px;">
                        </div>
                    </div>
                </div>

                <div class="row others">
                    <div class="col-md-12">
                        <a class="btn" role="button" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapseExample">
                            <h4 style="margin-left: -16px;" class="text-title-section">Enabler</h4>
                        </a>
                        <span class="pull-right" style="border: 1px solid white; border-radius: 5px;">
                            <a class="btn  btn-input-slide" role="button" data-toggle="collapse" data-content-url="@Url.Action("EnablerSection2",new { date="__date__" })" href="#collapseOthers" aria-expanded="false" aria-controls="collapseExample">
                                +
                            </a>
                        </span>
                        <div class="collapse" id="collapseOthers" style="margin-top: 15px; margin-bottom: 15px;">

                        </div>
                    </div>
                </div>
            </div>
            <hr />

            <div class="col-md-12" style="margin-bottom: 30px;">
                <div class="col-md-3">
                    <table width="900" border="0" cellpadding="2" cellspacing="2" hidden="hidden">
                        <tr>
                            <td>
                                <label for="">Prepared By-L</label>
                                <br />
                                <select>
                                    <option>Select Option</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-3">
                    <table width="900" border="0" cellpadding="2" cellspacing="2" hidden="hidden">
                        <tr>
                            <td>
                                <label for="">Reviewed By-M</label>
                                <br />
                                <select>
                                    <option>Select Option</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">
                    <a href="#" class="btn btn-master-rgw btn-primary"><i class="fa fa-check-circle"></i> Save</a>
                    <a href="#" class="btn btn-master-rgw btn-primary"><i class="fa fa-search"></i> Check</a>
                    <a tabindex="278" href="javascript:void(0)" onclick="callDerPreview()" class="btn btn-master-rgw btn-primary"><i class="fa fa-file-archive-o"></i> DER Preview</a>
                    <label class="labletop">Batch :</label>
                    @Html.DropDownList("Batch_Id", (IEnumerable<SelectListItem>)ViewBag.KpiTransformations, new { @class = "btn btn-master-rgw btn-primary" })
                    <button type="submit" class="btn btn-master-rgw btn-primary submit-process"><i class="fa fa-cogs"></i> Process</button>
                    <div id="processResult"></div>
                </div>
            </div>
        </section>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/datepicker/js/bootstrap-datepicker.js"></script>

    <script src="@Url.Content("~/Scripts/tinymce/js/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tinymce/js/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#currentDate').val('02/18/2016');
        //    if ($('.der-display').length) {
        //        $('.datepicker').datetimepicker({
        //            format: "MM/DD/YYYY",
        //            focusOnShow: false
        //        }).on('dp.change', function (e) {
        //            $("#currentDate").blur();
        //            reloadView();
        //        });
        //    };
        //});

        function callDerPreview() {
            var url = '@Url.Action("Preview","DER")?date=' + encodeURIComponent($('.datepicker').val());  //  /DER/Preview?date=
            window.open(url, '_blank');
        }
        function moveFieldTo(event, fieldId) {
            var inputid = $(event.target).attr("id");
            if (event.keyCode == 13) {
                $(inputid).removeClass("der-text-yesterday");
                document.getElementById(inputid).className = "form-control";
                document.getElementById(fieldId).focus();
                event.preventDefault();
                return true;
            }
        }
    </script>

    <script type="text/javascript">
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == variable) {
                    return decodeURIComponent(pair[1]);
                }
            }
            return null;
        }
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }

        var reloadView = function () {
            window.document.location = updateQueryStringParameter(window.location.href, "date", encodeURIComponent($('.datepicker').val()));
        };
        $(document).ready(function () {
            var date = getQueryVariable('date');
            if (date == null) {
                $('.datepicker').val($('#der-transaction').data('date'));
            } else {
                $('.datepicker').val(decodeURIComponent(date));
            }
            $('.datepicker').datetimepicker({
                format: "MM/DD/YYYY",
                focusOnShow: false
            }).on('dp.change', function (e) {
                $(".datepicker").blur();
                reloadView();
            });
            var currentDate = $('.datepicker').val();

            $('.collapse').on('hide.bs.collapse', function () {
                var tombol = $(this).attr("id");
                tombol = $("a[href='#" + tombol + "']").text("+");
            });

            $('.collapse').on('show.bs.collapse', function () {
                var tombol = $(this).attr("id");
                tombol = $("a[href='#" + tombol + "']").text("-");
            });

            var openNextTab = function ($latInput, nextIndex) {
                var nextIndexs = [23, 39, 50, 176, 183, 223, 267];
                if (nextIndexs.indexOf(nextIndex) > -1) {
                    var $collapse = $latInput.closest('.collapse');
                    var $row = $collapse.closest('.row');
                    var $nextRow = $row.next();
                    var $nextWrapper = $nextRow.find('.collapse');
                    $nextRow.find('.btn-input-slide').click();
                    window.theInterval = setInterval(function () {
                        if ($nextRow.find('.collapse').children().length > 0) {
                            var $next = $('[tabindex=' + nextIndex + ']');
                            if ($next.is("textarea")) {
                                tinyMCE.get($next.attr('id')).focus()
                            } else {
                                $next.focus();
                            }
                            clearInterval(window.theInterval);
                        }
                    }, 100);
                    setTimeout(function () { clearInterval(window.theInterval); }, 10000);

                }
            };

            $('.btn-input-slide').click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var target = $this.attr('href');
                if (!$(target).children().length) {
                    var contentUrl = $this.data('content-url');
                    contentUrl = contentUrl.replace('__date__', encodeURIComponent(currentDate));
                    $.get(contentUrl, function (data) {
                        $(target).on('click', 'select', function () {
                            console.log('panggil mari');
                            if ($(this).attr('data-clicks') == 1) {
                                // Trigger here your function:
                                console.log('event should be triggered :panggil mari');
                                $(this).trigger("altChange");
                                $(this).attr('data-clicks', 0);
                            } else {
                                $(this).attr('data-clicks', 1);
                            }
                        });
                        $(target).on('focusout', 'select', function () {
                            $(this).attr('data-clicks', 0);
                        });
                        $(target).html(data);
                        $(target).find('input.der-kpi').keyup(function (e) {
                            if (e.keyCode == 13) {
                                $(this).trigger("enterKey");
                            }
                        });
                        $(target).find('input.der-kpi').bind('enterKey', function (e) {
                            var $this = $(this);
                            var kpiId = $this.data('kpi-id');
                            var type = $this.data('type');
                            var tabindex = $this.attr('tabindex');
                            var nextTabindex = parseInt(tabindex) + 1;
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            var valueType = $this.data('value-type');
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updatekpi", { kpiId: kpiId, type: type, date: currentDate, id: id, value: value, valueType: valueType }, function (resp) {
                                openNextTab($this, nextTabindex);
                                var $next = $('[tabindex=' + nextTabindex + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }

                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            })
                        })
                        $(target).find('textarea.allow-html').each(function (i, val) {
                            var $this = $(val);
                            tinyMCE.init({
                                selector: '#' + $this.attr('id'),
                                menubar: false,
                                style_formats: [
                                    { title: 'Line height 20px', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '20px' } },
                                    { title: 'Line height 30px', selector: 'p,div,h1,h2,h3,h4,h5,h6', styles: { lineHeight: '30px' } }
                                ],
                                force_br_newlines: true,
                                force_p_newlines: false,
                                //forced_root_block: '',
                                plugins: [
                                    "advlist autolink lists charmap print preview anchor",
                                    "searchreplace visualblocks code fullscreen",
                                    "insertdatetime media table contextmenu paste"
                                ],
                                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                                setup: function (editor) {
                                    editor.on('keydown', function (e) {
                                        var key = e.keyCode || e.which;

                                        // on tab key
                                        if (key == 9) {
                                            e.preventDefault();
                                            return;
                                        }

                                    }).on('keyup', function (e) {
                                        var key = e.keyCode || e.which;
                                        var $textarea = $('#' + editor.id);
                                        var nextTab = parseInt($textarea.attr('tabindex')) + 1;
                                        if (key == 9) {
                                            var highlightTypeId = $textarea.data('highlight-type-id');
                                            var id = $textarea.attr('data-id');
                                            var value = editor.getContent();
                                            $.post("/dertransaction/updatehighlight", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily" }, function (resp) {
                                                openNextTab($textarea, nextTab);
                                                var $next = $('[tabindex=' + nextTab + ']');
                                                if ($next.is("textarea")) {
                                                    tinyMCE.get($next.attr('id')).focus()
                                                } else {
                                                    $next.focus();
                                                }
                                                if (parseInt($textarea.attr('data-id')) == 0) {
                                                    $textarea.attr('data-id', resp.Id);
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        })
                        $(target).on('altChange', 'select.der-highlight', function (e) {
                            var $this = $(this);
                            var nextTab = parseInt($this.attr('tabindex')) + 1;
                            var highlightTypeId = $this.data('highlight-type-id');
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updatehighlight", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily" }, function (resp) {
                                openNextTab($this, nextTab);
                                var $next = $('[tabindex=' + nextTab + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }
                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            });
                        });
                        $('.datepicker', target).datetimepicker({
                            format: "DD MMM YYYY",
                            focusOnShow: false
                        });
                        $(target).on('keyup', 'input.der-highlight-input', function (e) {
                            if (e.keyCode == 13) {
                                var $this = $(this);
                                var nextTab = parseInt($this.attr('tabindex')) + 1;
                                var highlightTypeId = $this.data('highlight-type-id');
                                var id = $this.attr('data-id');
                                var value = $this.val();
                                $this.addClass('in-progress');
                                $.post("/dertransaction/updatehighlight", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily" }, function (resp) {
                                    openNextTab($this, nextTab);
                                    var $next = $('[tabindex=' + nextTab + ']');
                                    if ($next.is("textarea")) {
                                        tinyMCE.get($next.attr('id')).focus()
                                    } else {
                                        $next.focus();
                                    }
                                    $this.removeClass('in-progress');
                                    if ($this.hasClass('der-value-prev')) {
                                        $this.removeClass('der-value-prev');
                                    }
                                    if ($this.hasClass('der-value-empty')) {
                                        $this.removeClass('der-value-empty');
                                    }
                                    $this.addClass('der-value-now');
                                    if (parseInt($this.attr('data-id')) == 0) {
                                        $this.attr('data-id', resp.Id);
                                    }
                                });
                            }
                        });
                        $(target).on('altChange', 'select.der-highlight-infragsm', function (e) {
                            var $this = $(this);
                            var nextTab = parseInt($this.attr('tabindex')) + 1;
                            var highlightTypeId = $this.data('highlight-type-id');
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            var property = $this.data('property');
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updateinfragsm", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily", property: property }, function (resp) {
                                openNextTab($this, nextTab);
                                var $next = $('[tabindex=' + nextTab + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }
                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            });
                        });
                        $(target).on('altChange', 'select.der-highlight-wave', function (e) {
                            var $this = $(this);
                            var nextTab = parseInt($this.attr('tabindex')) + 1;
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            var property = $this.data('property');
                            var data = { DateInDisplay: currentDate, id: id, PeriodeType: "Daily", property: property };
                            if (property == 'wind-direction') {
                                data.ValueId = value;
                            } else {
                                data.Tide = value;
                            }
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updatewave", data, function (resp) {
                                openNextTab($this, nextTab);
                                var $next = $('[tabindex=' + nextTab + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }
                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            });
                        });
                        $(target).on('altChange', 'select.der-highlight-weather', function (e) {
                            var $this = $(this);
                            var nextTab = parseInt($this.attr('tabindex')) + 1;
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            var data = { DateInDisplay: currentDate, id: id, PeriodeType: "Daily", ValueId: value };
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updateweather", data, function (resp) {
                                openNextTab($this, nextTab);
                                var $next = $('[tabindex=' + nextTab + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }
                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            });
                        });
                        $(target).on('keyup', 'input.der-highlight-wave', function (e) {
                            if (e.keyCode == 13) {
                                var $this = $(this);
                                var nextTab = parseInt($this.attr('tabindex')) + 1;
                                var id = $this.attr('data-id');
                                var value = $this.val();
                                var property = $this.data('property');
                                var data = { DateInDisplay: currentDate, id: id, PeriodeType: "Daily", property: property, Speed: value };
                                //if (property == 'wind-direction') {
                                //    data.ValueId = value;
                                //} else if{
                                //    data.Tide = value;
                                //}
                                $this.addClass('in-progress');
                                $.post("/dertransaction/updatewave", data, function (resp) {
                                    openNextTab($this, nextTab);
                                    var $next = $('[tabindex=' + nextTab + ']');
                                    if ($next.is("textarea")) {
                                        tinyMCE.get($next.attr('id')).focus()
                                    } else {
                                        $next.focus();
                                    }
                                    $this.removeClass('in-progress');
                                    if ($this.hasClass('der-value-prev')) {
                                        $this.removeClass('der-value-prev');
                                    }
                                    if ($this.hasClass('der-value-empty')) {
                                        $this.removeClass('der-value-empty');
                                    }
                                    $this.addClass('der-value-now');
                                    if (parseInt($this.attr('data-id')) == 0) {
                                        $this.attr('data-id', resp.Id);
                                    }
                                });
                            }
                        });
                        $(target).on('keyup', 'input.der-highlight-brenfut', function (e) {
                            if (e.keyCode == 13) {
                                var $this = $(this);
                                var nextTab = parseInt($this.attr('tabindex')) + 1;
                                var highlightTypeId = $this.data('highlight-type-id');
                                var id = $this.attr('data-id');
                                var value = $this.val();
                                var property = $this.data('property');
                                var valueType = $this.data('type');
                                $this.addClass('in-progress');
                                $.post("/dertransaction/updatebrenfut", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily", property: property, valueType: valueType }, function (resp) {
                                    openNextTab($this, nextTab);
                                    var $next = $('[tabindex=' + nextTab + ']');
                                    if ($next.is("textarea")) {
                                        tinyMCE.get($next.attr('id')).focus()
                                    } else {
                                        $next.focus();
                                    }
                                    $this.removeClass('in-progress');
                                    if ($this.hasClass('der-value-prev')) {
                                        $this.removeClass('der-value-prev');
                                    }
                                    if ($this.hasClass('der-value-empty')) {
                                        $this.removeClass('der-value-empty');
                                    }
                                    $this.addClass('der-value-now');
                                    if (parseInt($this.attr('data-id')) == 0) {
                                        $this.attr('data-id', resp.Id);
                                    }
                                });
                            }
                        });
                        $(target).on('altChange', 'select.der-kpi', function (e) {
                            var $this = $(this);
                            var kpiId = $this.data('kpi-id');
                            var type = $this.data('type');
                            var tabindex = $this.attr('tabindex');
                            var nextTabindex = parseInt(tabindex) + 1;
                            var id = $this.attr('data-id');
                            var value = $this.val();
                            var valueType = $this.data('value-type');
                            $this.addClass('in-progress');
                            $.post("/dertransaction/updatekpi", { kpiId: kpiId, type: type, date: currentDate, id: id, value: value, valueType: valueType }, function (resp) {
                                openNextTab($this, nextTabindex);
                                var $next = $('[tabindex=' + nextTabindex + ']');
                                if ($next.is("textarea")) {
                                    tinyMCE.get($next.attr('id')).focus()
                                } else {
                                    $next.focus();
                                }

                                $this.removeClass('in-progress');
                                if ($this.hasClass('der-value-prev')) {
                                    $this.removeClass('der-value-prev');
                                }
                                if ($this.hasClass('der-value-empty')) {
                                    $this.removeClass('der-value-empty');
                                }
                                $this.addClass('der-value-now');
                                if (parseInt($this.attr('data-id')) == 0) {
                                    $this.attr('data-id', resp.Id);
                                }
                            })
                        });
                        $(target).on('keyup', 'input.der-highlight-weekly-alarm', function (e) {
                            if (e.keyCode == 13) {
                                var $this = $(this);
                                var nextTab = parseInt($this.attr('tabindex')) + 1;
                                var highlightTypeId = $this.data('highlight-type-id');
                                var id = $this.attr('data-id');
                                var value = $this.val();
                                var property = $this.data('property');
                                $this.addClass('in-progress');
                                $.post("/dertransaction/updateweeklyalarm", { TypeId: highlightTypeId, DateInDisplay: currentDate, id: id, message: value, PeriodeType: "Daily", property: property }, function (resp) {
                                    openNextTab($this, nextTab);
                                    var $next = $('[tabindex=' + nextTab + ']');
                                    if ($next.is("textarea")) {
                                        tinyMCE.get($next.attr('id')).focus()
                                    } else {
                                        $next.focus();
                                    }
                                    $this.removeClass('in-progress');
                                    if ($this.hasClass('der-value-prev')) {
                                        $this.removeClass('der-value-prev');
                                    }
                                    if ($this.hasClass('der-value-empty')) {
                                        $this.removeClass('der-value-empty');
                                    }
                                    $this.addClass('der-value-now');
                                    if (parseInt($this.attr('data-id')) == 0) {
                                        $this.attr('data-id', resp.Id);
                                    }
                                });
                            }
                        });
                    })
                }
            });


        });


    </script>
</body>
</html>
