@{
    Layout = null;
}
@model DSLNG.PEAR.Web.ViewModels.DerTransaction.DerValuesViewModel
<div class="col-md-12">
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Last DAFWC</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 273, 219, "text date", "prev", "daily-actual-dafwc", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Last Plant LOPC (Tier 4 & 5)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 274, 220, "text date", "prev", "daily-actual-dafwc", "remark", "datepicker")
                    </span>
                </td>
            </tr>
        </table>
        <p style="color: white;" class="subtitle">Safe Man-hours Since last DAFWC :</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td style="width: 163px;"><label class="control-label">as of</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 275, 221, "text date", "prev", "daily-actual", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Safe man-hours</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 275, 222, "hours", "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <p style="color: white;" class="subtitle">Recordable Injury Frequency (RIF):</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">as of</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 514, 223, "text date", "prev", "daily-actual", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">RIF (actual)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 514, 224, "number", "prev", "daily-actual")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">RIF (target) <</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 514, 225, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
        </table>
        <p style="color: white;" class="subtitle">DCS Alarm Rate per Hour per Operator</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">as of</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 515, 226, "text date", "prev", "daily-actual", "remark", "datepicker")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">DCS Alarm Rate (actual)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 515, 227, "number", "prev", "daily-actual")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">DCS Alarm Rate (target)</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 515, 228, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
        </table>
        @*<table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
                <tr>
                    <td><label class="control-label">Period</label></td>
                    <td>
                        <span class="col-sm-8">
                            @Html.DisplayWeeklyAlarmInput(Model.Highlights, 80, 226, "free text", "period")
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">Process Train</label></td>
                    <td>
                        <span class="col-sm-8">
                            @Html.DisplayWeeklyAlarmInput(Model.Highlights, 80, 227, "number", "processtrain")
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">Utilities-off site</label></td>
                    <td>
                        <span class="col-sm-8">
                            @Html.DisplayWeeklyAlarmInput(Model.Highlights, 80, 228, "number", "utilities")
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">Remark</label></td>
                    <td>
                        <span class="col-sm-8">
                            @Html.DisplayWeeklyAlarmInput(Model.Highlights, 80, 229, "free text", "remark")
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">Traffic Light</label></td>
                    <td>
                        <span class="col-sm-8">
                            @Html.DisplayHighlightDropdownList(Model.Highlights, 59, new List<SelectListItem> {
                       new SelectListItem {Value = "-1", Text = "-1" },
                       new SelectListItem {Value = "0", Text = "0" },
                       new SelectListItem {Value = "1", Text = "1" }
                   }, 230, "prev")
                        </span>
                    </td>
                </tr>
            </table>*@
    </div>
    <div class="col-md-4">
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Weather</label></td>
                <td>
                    <!--234-->
                    @Html.DisplayWeatherList(Model.Weather, 229)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Sea Condition and Jetty Status</label></td>
                <td>
                    @Html.DisplayWaveList(Model.Wave, new List<SelectListItem> {
                  new SelectListItem { Value="Calm wave & Accessible",Text="Calm wave & Accessible" },
                   new SelectListItem { Value="Slight wave & Accessible",Text="Slight wave & Accessible" },
                    new SelectListItem { Value="Moderate wave & Caution",Text="Moderate wave & Caution" },
                     new SelectListItem { Value="Rough wave & Closed Acces",Text="Rough wave & Closed Acces" }
              }, "tide", 230)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Wind Direct</label></td>
                <td>
                    @Html.DisplayWaveList(Model.Wave, Model.Wave.Values, "wind-direction", 231)
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Wind Speed (Km/h)</label></td>
                <td>
                    <span class="col-sm-17">
                        @Html.DisplayWaveList(Model.Wave, Model.Wave.Values, "speed", 232)
                    </span>
                </td>
            </tr>
        </table>
    </div>

</div>
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-4">
        <p style="color: white;" class="subtitle">Leading-Lagging-PSM KPI :</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <!--242-->
                <td><label class="control-label">SLC submitted 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 504, 233, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Near-Miss Report 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 285, 234, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">No of PTW Audit 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 506, 235, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Fatality/Disability 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 1, 236, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">DAFW 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 177, 237, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">RWC + MTC (no of injury) 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 507, 238, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">First Aid 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 276, 239, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LOPC minor</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 422, 240, "number")
                    </span>
                </td>
            </tr>
            
            <tr>
                <td><label class="control-label">Overdue SCE Inspection 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 508, 241, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Process override w/o approval 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 509, 242, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">PS incident investigation compliance 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 518, 243, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Overdue temp MOC 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 511, 244, "number")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <p style="color: white;" class="subtitle">Personnel Injury Related-Annual Target :</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <!--242-->
                <td><label class="control-label">SLC-PSLC submitted 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 504, 245, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Near-Miss Report 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 505, 246, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">No of PTW Audit 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 506, 247, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Fatality/Disability 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 1, 248, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">DAFW 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 177, 249, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">RWC + MTC (no of injury) 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 507, 250, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
           
            <tr>
                <td><label class="control-label">First Aid 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 276, 251, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">LOPC minor</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 422, 252, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Overdue SCE Inspection 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 508, 253, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Process override w/o approval 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 509, 254, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">PS incident investigation compliance 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 518, 255, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Overdue temp MOC 24H</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 511, 256, "number", "empty", "yearly-target")
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <p style="color: white;" class="subtitle">Environmental Quality (STP) :</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">pH</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 512, 257, "number")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Oil & Grease</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 513, 258, "number")
                    </span>
                </td>
            </tr>
        </table>
        <p style="color: white;" class="subtitle">Security Incident Type (24H) :</p>
        <table border="0" style="border-collapse: separate; border-spacing: 10px 10px;">
            <tr>
                <td><label class="control-label">Mass Gathering</label></td>
                <td>
                    <!--254-->
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 435, 259, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Road Blockade</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 356, 260, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Theft/Criminal</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 436, 261, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Fighting/Violence</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 359, 262, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Prop Dest/Vandalism</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 286, 263, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Others</label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayKpiInformationInput(Model.KpiInformations, 292, 264, "0")
                    </span>
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Security Alert Condition </label></td>
                <td>
                    <span class="col-sm-8">
                        @Html.DisplayHighlightDropdownList(Model.Highlights, 7, Model.AlertOptions, 265, "prev")
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
@*<div class="col-md-12" style="margin-top: 30px;">
        <div class="col-md-6">
            <table border="0">
                <tr>
                    <td><label class="control-label">Alert Condition :</label></td>
                </tr>
                <tr>
                    <td>
                        260
                        @Html.DisplayHighlightDropdownList(Model.Highlights, 7, Model.AlertOptions, 259, "prev")
                    </td>
                </tr>
            </table>
        </div>
    </div>*@
<div class="col-md-12" style="margin-top: 30px;">
    <div class="col-md-6">
        <table border="0">
            <tr>
                <td><label class="control-label">QHSE & PSM Remark</label></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights, 18, 266, "Plant Operated Safely")
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table border="0">
            <tr>
                <td><label class="control-label">Security Remark</label></td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayHighlightTextarea(Model.Highlights, 13, 267, "Plant and Surroundings are condusive (calm and secure)")
                </td>
            </tr>
        </table>
    </div>
</div>
