@model DSLNG.PEAR.Web.ViewModels.OutputConfig.ScenarioResultViewModel
@{
    ViewBag.Title = "Key Output Result";
}

<h2>Key Output For : @Model.ScenarioName</h2>
<div class="add-button-wrapper">
    <form action="@Url.Action("UpdateResult")" method="POST">
        <input type="hidden" value="@Request.QueryString["scenarioId"]" name="scenarioId" />
        <button type="submit" class="btn btn-primary">Update Result</button>
    </form>
</div>
@{
    foreach (var category in Model.OutputCategories.OrderBy(x => x.Order).ToList())
    {
    <div class="row">
        <div class="col-sm-12">
            <h3>@category.Name</h3>
        </div>
        <div>
            <table class="Forecast">
                <tr>
                    <th style="width: 535px; text-align:right;"><h4><label>Model-Forecasted</label></h4></th>
                    <th style="width: 405px; text-align:right;"><h4><label>Current Overview</label></h4></th>
                </tr>
            </table>
        </div>
    </div>
        foreach (var output in category.KeyOutputs)
        {
            
    <div class="row">
        <div class="col-sm-4" style="padding-left: 50px">
            <label>@output.Name</label>
        </div>
        <div class="col-sm-4">
           @*<label>Forecast</label>*@<input type="text" class="control-form assumption-input" name="ForecastValue" value="@output.Forecast" /> <label>@output.Measurement</label>
        </div>
        <div class="col-sm-4">
            @*<label>Actual</label>*@<input type="text" class="control-form assumption-input" name="ForecastValue" value="@output.Actual" /> <label>@output.Measurement</label>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
        }
    }
}
