@model DSLNG.PEAR.Web.ViewModels.Weather.WeatherViewModel

@{
    ViewBag.Title = "Manage";
}

<div class="highlight-save">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="title">Weather</div>
        <div class="description_year">Manage</div>
        <div>@Html.ValidationSummary(true)</div>
        @Html.HiddenFor(x => x.Id)
    </div>
    <div class="col-md-12">
        <div class="form-inline whitebox">
            <div class="form-group form-list">
                @Html.LabelFor(model => model.PeriodeType)
                @Html.DropDownListFor(model => model.PeriodeType, Model.PeriodeTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodeType)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.DateInDisplay)
                @Html.TextBoxFor(model => model.DateInDisplay, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.DateInDisplay)
            </div>
              <div class="form-group form-list">
                @Html.LabelFor(model => model.ValueId)
                @Html.DropDownListFor(model => model.ValueId, Model.Values, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ValueId)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Temperature)
                @Html.TextBoxFor(model => model.Temperature, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Temperature)
            </div>
        </div>
    </div>
    <div class="col-md-12 artifact-designer-btns">
        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
        <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
        <a href="@Url.Action("Display", "Highlight")" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
    </div>
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
