@model DSLNG.PEAR.Web.ViewModels.KpiTarget.UpdateKpiTargetViewModel
@{
    @Html.HiddenFor(x => x.PeriodeType)
    @Html.HiddenFor(x => x.PmsSummaryId)
    int a = 0;
    foreach (var pillar in Model.Pillars)
    {
    <div style="margin: 25px 0">
        <h4>@pillar.Name</h4>
        <div class="kpi-message">
        </div>
        <hr>
        <table class="no-border tablekpitarget" width="650">
            <thead>
                <tr>
                    <th width=350></th>
                    <th width=100></th>
                    <th width=200>Value</th>
                </tr>
            </thead>
            <tbody>
                @{ int b = 0;}
                @foreach (var kpi in pillar.Kpis)
                {
                    @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].Id, new {@class="form-control-small"})
                    <tr>
                        <td style="text-align: left">
                            @kpi.Name
                        </td>
                        <td>
                            @kpi.Measurement
                        </td>
                        @*<td>
                            <input type="text" class="form-control" placeholder="Remark"></td>*@
                        @{ int c = 0;}
                        @foreach (var kpiTarget in kpi.KpiTargets)
                        {
                            var remarkSign = "";
                            if (!string.IsNullOrEmpty(Model.Pillars[a].Kpis[b].KpiTargets[c].Remark))
                            {
                                remarkSign = "remark_sign";
                            }
                            <td>
                                <input type="hidden" name="KpiId" class="kpiId" value="@kpi.Id" />
                                <input type="hidden" name="HeaderPopover" class="header-popover" value="" />
                                <input type="hidden" name="PeriodeType" class="periodeType" value="@DSLNG.PEAR.Data.Enums.PeriodeType.Yearly" />
                                @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiTargets[c].Id, new { @class = "id" })
                                @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiTargets[c].Periode, new { @class = "periode" })
                                @Html.HiddenFor(x => Model.Pillars[a].Kpis[b].KpiTargets[c].Remark, new { @class = "remark" })
                                @Html.TextBoxFor(x => Model.Pillars[a].Kpis[b].KpiTargets[c].Value, new { @class = "form-control kpi-popover value " + remarkSign, @readonly="readonly", data_toggle="popover" })
                            </td>
                            c++;
                            @*<td>
                                <input type="text" class="form-control-small" name=""></td>    *@
                        }

                    </tr>
                    b++;
                }

            </tbody>
        </table>

    </div>
        a++;
    }
}
