@model DSLNG.PEAR.Web.ViewModels.KpiTransformation.KpiTransformationViewModel
@{
    ViewBag.Title = "Process";
}
<div class="page-header">
    <h3>Kpi Transformation Process <small>@Model.Name</small></h3>
</div>
<style>
    #available-kpis, #selected-kpis {
        border: 1px solid #eee;
        width: 100%;
        min-height: 300px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
        text-align: center;
    }

        #available-kpis li, #selected-kpis li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
            display: inline-block;
            width: 95%;
            text-align: left;
            background-color: #fff;
        }

    .periode-container:first-child:last-child .btn-remove-periode {
        display: none !important;
    }

    .periode-container .btn-add-periode {
        display: none !important;
    }

    .periode-container:last-child .btn-add-periode {
        display: inline-block !important;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <div class="add-button-wrapper">
                    <button class="btn btn-default move-all">Move All</button>
                    <button class="btn btn-default move-selected">Move Selected Kpis</button>
                </div>
                <ul id="available-kpis" class="connectedSortable"></ul>
            </div>
            <div class="col-md-6">
                <div class="add-button-wrapper">
                    <button class="btn btn-default return-all">Return All</button>
                    <button class="btn btn-default return-selected">Return Selected Kpis</button>
                    <button class="btn btn-primary pull-right" style="padding:10px 30px" data-toggle="modal" data-target="#scheduleProcess">Process</button>
                </div>
                <ul id="selected-kpis" class="connectedSortable">
                    @foreach (var kpi in Model.Kpis.OrderBy(x => x.Name).ToList())
                    {
                        <li class="ui-state-default" data-kpi-id="@kpi.Id"><input type="checkbox" /> @kpi.Name</li>
                    }
                </ul>
            </div>
        </div>


    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="scheduleProcess" tabindex="-1" role="dialog" aria-labelledby="scheduleProcess" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">Schedule Process</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @using (Html.BeginForm("Process", "KpiTransformation", FormMethod.Post))
                    {
                        <input type="hidden" name="PeriodeType" value="@Model.PeriodeType" />
                        <input type="hidden" name="KpiTransformationId" value="@Model.Id" />
                        <input type="hidden" name="ProcessingType" value="0" />
                        <div class="form-group">
                            <label class="control-label col-md-3">Start</label>
                            <div class="col-md-9">
                                <div class="periods-wrapper">
                                    <div class="periode-container">
                                        <input class="form-control datepicker start" name="StartInDisplay" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">End</label>
                            <div class="col-md-9">
                                <div class="periods-wrapper">
                                    <div class="periode-container">
                                        <input class="form-control datepicker end" name="EndInDisplay" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-default submit-process">Ok</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#available-kpis, #selected-kpis").sortable({
            connectWith: ".connectedSortable"
        }).disableSelection();

        $(document).on('click', '.move-all', function (e) {
            var $availables = $('#available-kpis').children('li');
            if ($availables.length) {
                $('#selected-kpis').append($availables.clone(true));
                $availables.remove();
            }
        });
        $(document).on('click', '.return-all', function (e) {
            var $selected = $('#selected-kpis').children('li');
            if ($selected.length) {
                $('#available-kpis').append($selected.clone(true));
                $selected.remove();
            }
        });
        $(document).on('click', '.move-selected', function (e) {
            var $availables = $('#available-kpis').children('li');
            var $selectedList = $('#selected-kpis')
            $availables.each(function (i, val) {
                if ($(val).find('input').is(':checked')) {
                    var clone = $(val).clone();
                    clone.find('input').prop('checked', false);
                    $selectedList.append(clone);
                    $(val).remove();
                }
            })
        });
        $(document).on('click', '.return-selected', function (e) {
            var $availables = $('#selected-kpis').children('li');
            var $selectedList = $('#available-kpis')
            $availables.each(function (i, val) {
                if ($(val).find('input').is(':checked')) {
                    var clone = $(val).clone();
                    clone.find('input').prop('checked', false);
                    $selectedList.append(clone);
                    $(val).remove();
                }
            })
        });
        $scope = $('#scheduleProcess');
        switch ( $('input[name="PeriodeType"]').val().trim().toLowerCase()) {
            case 'hourly':
                $scope.find('.datepicker').each(function (i, val) {
                    $(val).datetimepicker({
                        format: "MM/DD/YYYY hh:00 A"
                    });
                });

                break;
            case 'daily':
                $scope.find('.datepicker').each(function (i, val) {
                    $(val).datetimepicker({
                        format: "MM/DD/YYYY"
                    });
                });
                break;
            case 'weekly':
                $scope.find('.datepicker').each(function (i, val) {
                    $(val).datetimepicker({
                        format: "MM/DD/YYYY",
                        daysOfWeekDisabled: [0, 2, 3, 4, 5, 6]
                    });
                });
                break;
            case 'monthly':
                $scope.find('.datepicker').each(function (i, val) {
                    $(val).datetimepicker({
                        format: "MM/YYYY"
                    });
                });
                break;
            case 'yearly':
                $scope.find('.datepicker').each(function (i, val) {
                    $(val).datetimepicker({
                        format: "YYYY"
                    });
                });
                break;
            default:
                break;
        }
        $(document).on('click', '.submit-process', function (e) {
            e.preventDefault();
            var $form = $(this).closest('form');
            $form.find('input[name="SelectedKpis[]"]').each(function (i, val) {
                $(val).remove();
            })
            $('#selected-kpis li').each(function (i, val) {
                var kpiId = $(val).data('kpi-id');
                var $input = $('<input />');
                $input.attr('name', 'KpiIds[]');
                $input.attr('type', 'hidden');
                $input.val(kpiId);
                console.log($input);
                $form.prepend($input);
            });
            $form.submit();
        });
    });
</script>
