@{
    ViewBag.Title = "Artifact List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="artifact-list">
    <div class="page-header">
        <h3>List</h3>
    </div>
    @Html.Partial("_MessageResponse")
    <div class="add-button-wrapper">
        @Html.ActionLink("Create New", "Designer", null, new { @class = "btn btn-primary" })
    </div>
    @*@Html.Action("IndexPartial")*@
    
    <table id="artifact-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Type</th>
                <th>Used</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
               var t =  $('#artifact-table').DataTable({
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "iDisplayLength": -1,
                    "bProcessing": true,
                    "bServerSide": true,
                    "sServerMethod": "POST",
                    "sAjaxSource": '@Url.Action("Grid", "Artifact")',
                    "order": [[3, "desc"]],
                    "aoColumns": [
                        {
                            "orderable": false, "data": null, "defaultContent": '', "mRender": function (data, type, row, x) {
                                return x.row + 1;
                            }
                        },
                        { "mDataProp": "GraphicName", "name": "Name", "sClass": "dt-head-center text-left" },
                        { "mDataProp": "GraphicType", "name": "Order", "sClass": "dt-head-center text-left" },
                        {
                            "mDataProp": "Used", "name": "Used", "render": function (data, type, row) {
                                var checked = '';
                                if (data) {
                                    checked = 'checked="checked"';
                                }
                                    return '<input type="checkbox" class="editor-active" '+checked+' disabled="disabled">';
                            },
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "mRender": function(data, type, row) {
                                var viewLink = '@Html.ActionLink("View", "View", new { Id = "_id_" }, new { @class="artifact-view" })'.replace('_id_', data.Id);
                                var editLink = '@Html.ActionLink("Edit", "Edit", "Artifact", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                                var deleteLink = '<a href="javascript:confirmDelete(' + data.Id + ')">Delete</a>';
                                if (!row.Used) {
                                    return editLink + ' | ' + viewLink + ' | ' + deleteLink;
                                } else {
                                    return editLink + ' | ' + viewLink;
                                }
                            }
                        }
                    ]
               });
                //t.on('order.dt search.dt', function () {
                //    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                //        cell.innerHTML = i + 1;
                //    });
                //}).draw();
            });
            var confirmDelete = function (id) {
                if (confirm('Are you sure want to delete this item?')) {
                    var url = '@Url.Action("Delete", "Artifact")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            };

        </script>
    }


    <!-- Modal -->
    <div class="modal fade" id="graphic-preview" tabindex="-1" role="dialog" aria-labelledby="graphicPreview" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myLargeModalLabel">Artifact Preview</h4>
                </div>
                <div class="modal-body">
                    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

</div>
