@model DSLNG.PEAR.Web.ViewModels.Buyer.BuyerViewModel

@{
    ViewBag.Title = "Create";
}

<div class="highlight-save">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="title">Buyer</div>
        <div class="description_year">New</div>
        <div>@Html.ValidationSummary(true)</div>
    </div>
    <div class="col-md-12">
        <div class="form-inline whitebox">
             <div class="form-group form-list">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Address)
                @Html.TextAreaFor(model => model.Address, 5,100,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>
    </div>
    <div class="col-md-12 artifact-designer-btns">
        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
        <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
        <a href="/Buyer" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
    </div>
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
