@{
    ViewBag.Title = "Template List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="template-list">
    <div class="page-header">
        <h3>List</h3>
    </div>
    @Html.Partial("_MessageResponse")
    <div class="add-button-wrapper">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
    @*@Html.Action("IndexPartial")*@

    <table id="template-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>IsActive</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#template-table').DataTable({
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    "iDisplayLength": -1,
                    "bProcessing": true,
                    "bServerSide": true,
                    "sServerMethod": "POST",
                    "sAjaxSource": '@Url.Action("Grid", "Template")',
                    "order": [[1, "desc"]],
                    "aoColumns": [
                        { "mDataProp": "Name", "name": "Name", "sClass": "dt-head-center text-left" },
                        {
                            "mDataProp": "IsActive", "name": "IsActive", "sClass": "dt-head-center text-center", "render": function (data, type, row) {
                                var checked = '';
                                if (data) {
                                    checked = 'checked="checked"';
                                }
                                return '<input type="checkbox" class="editor-active grid-is-active" ' + checked + ' disabled="disabled">';
                            },
                        },
                        {
                            "orderable": false,
                            "data": null,
                            "defaultContent": '',
                            "mRender": function (data, type, row) {
                                var viewLink = '@Html.ActionLink("View", "View", "Template", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                                var editLink = '@Html.ActionLink("Edit", "Update", "Template", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                                var deleteLink = '<a class="delete btn-action" data-id="_id_" href="javascript:;">Delete</a>'.replace('_id_', data.Id);
                                return editLink + ' | ' + viewLink + ' | ' + deleteLink;
                        }
                    }
                ]
                });

                $('#template-table').on('click', '.delete', function () {
                    var id = $(this).attr('data-id');
                    if (confirm('Are you sure want to delete this item?' + id)) {
                        var url = '@Url.Action("Delete", "Template")';
                        var form = $('<form />');
                        form.attr('action', url);
                        form.attr('method', 'POST');
                        form.html('<input type="hidden" name="id" value="' + id + '" />');
                        $('body').append(form);
                        form.submit();
                    }
                });

            });
        </script>
    }

</div>
