@model DSLNG.PEAR.Web.ViewModels.Template.TemplateViewModel
@using DSLNG.PEAR.Web.ViewModels
@{
    //UserProfileSessionData user = (UserProfileSessionData)HttpContext.Current.Session["LoginUser"];

    ViewBag.Title = Model.Name;

    var allowEdit = false;
    var priv = ViewData["privileges"] as List<string>;
    if (priv.Contains("AllowUpdate"))
    {
        allowEdit = true;
    }
}

<span id="user-profile-session-data" data-issuperadmin="@allowEdit.ToString().ToLowerInvariant()"></span>
<div class="template-view">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>@Model.Name</h3>
            </div>
        </div>
    </div>
    @foreach (var row in Model.LayoutRows)
    {
        <div class="row layout-row">
            @foreach (var col in row.LayoutColumns)
            {
                <div class="layout-column" style="width:@col.Width%;">


                    @if (col.ColumnType == "Artifact")
                    {
                        <div class="whitebox artifact-holder" style="height:350px;" data-artifact-url="@Url.Action("View", "Artifact", new { id = col.ArtifactId })" data-artifact-id="@col.ArtifactId">
                        </div>
                    }
                    else
                    {
                        <div class="whitebox highlight-holder" style="height:350px;" data-artifact-edit-url="@Url.Action("Edit", "Highlight", new { id = "_id_" })" data-artifact-url="@Url.Action("View", "Highlight", new { typeId=col.HighlightTypeId, periodeType = col.HighlightPeriodeType })">
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>


<div class="modal fade" id="graphic-setting" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding-left: 0">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("GraphicSetting", "Artifact")" method="post" id="graphic-setting-form" class="form-horizontal">
                        <div class="graphic-setting-content">
                            <p>&nbsp;</p>
                        </div>
                        <div class="form-group form-list">
                            <label>&nbsp;</label>
                            <input type="submit" class="btn btn-primary-alt" value="Simulate" />
                            <button type="button" class="btn btn-secondary-alt" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary-alt" id="backToDefault">Back to Default</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="highlight-setting" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding-left: 0">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("HighlightSetting", "Artifact")" method="post" id="highlight-setting-form" class="form-horizontal">
                        <div class="highlight-setting-content">
                            <p>&nbsp;</p>
                        </div>
                        <div class="form-group form-list">
                            <label>&nbsp;</label>
                            <input type="submit" class="btn btn-primary-alt" value="Simulate" />
                            <button type="button" class="btn btn-secondary-alt" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary-alt" id="backToDefault">Back to Default</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="export-setting" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding-left: 0">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title-export"></h3>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("ExportSetting", "Artifact")" method="post" id="export-setting-form" class="form-horizontal">
                        <div class="export-setting-content">
                            <p>&nbsp;</p>
                        </div>
                        <div class="form-group form-list">
                            <label>&nbsp;</label>
                            <input type="submit" class="btn btn-primary-alt export" value="Export" style="visibility:hidden; position:absolute" />
                            <input type="button" class="btn-export btn btn-primary-alt export" value="Export" />
                            <button type="button" class="btn btn-danger-alt btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>