@model DSLNG.PEAR.Web.ViewModels.User.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h3>ChangePassword</h3>
@Html.Partial("_MessageResponse")
<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("ChangePassword")" method="POST">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.Old_Password, new { @class = "control-label" })
                @Html.PasswordFor(model => model.Old_Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Old_Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.New_Password, new { @class = "control-label" })
                @Html.PasswordFor(model => model.New_Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.New_Password)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Confirm_Password, new { @class = "control-label" })
                @Html.PasswordFor(model => model.Confirm_Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Confirm_Password)
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</div>



