@model DSLNG.PEAR.Web.ViewModels.User.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<h3>Request to Reset Password: @ViewBag.Message</h3>
@Html.Partial("_MessageResponse")
<div class="row">
    <div class="col-md-6">
        <form action="@Url.Action("ResetPassword")" method="POST">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <button type="submit" class="btn btn-default">Submit</button>

        </form>
    </div>
</div>
