@model DSLNG.PEAR.Web.ViewModels.Vessel.VesselViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="highlight-save">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div class="title">Vessel</div>
        <div class="description_year">New</div>
        <div>@Html.ValidationSummary(true)</div>
        @Html.HiddenFor(model => model.Id);
    </div>
    <div class="col-md-12">
        <div class="form-inline whitebox">
             <div class="form-group form-list">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Capacity)
                @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Capacity)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Type)
                @Html.DropDownListFor(model => model.Type, Model.Types, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.MeasurementId)
                @Html.DropDownListFor(model => model.MeasurementId, Model.Measurements,new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MeasurementId)
            </div>
        </div>
    </div>
    <div class="col-md-12 artifact-designer-btns">
        <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
        <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
        <a href="@Url.Action("Index")" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
    </div>
}
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
