@model DSLNG.PEAR.Web.ViewModels.OperationConfig.OperationConfigIndexViewModel 
@{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.DropDownListFor(model => model.KeyOperationGroupId, Model.OperationGroups,new{@class = "form-control operation-config-groups", style="display:none"})
<h2>Key Operation Config</h2>
@Html.Partial("_MessageResponse")
<div class="alert" style="position: fixed; right: 10px; top:1px;width: 300px;z-index: 1; display: block"></div>
<div class="add-button-wrapper">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>

@*@Html.Action("IndexPartial")

@section Scripts{
    <script type="text/javascript">
        var confirmDelete = function (id) {
            if (confirm('Are you sure want to delete this item?')) {
                var url = '@Url.Action("Delete", "Operation")';
                $('<form action="' + url + '" method="POST">' +
                    '<input type="hidden" name="id" value="' + id + '">' +
                    '</form>').submit();
            }
        };
    </script>
}*@

<table id="operation-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Key Operation Group</th>
            <th>Key Operation</th>
            <th>Order</th>
            <th>Is Active</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var showMessage = function (data) {
                var alertType = data.IsSuccess === true ? 'alert-success' : 'alert-danger';
                $('.alert').removeClass('alert-success');
                $('.alert').removeClass('alert-danger');
                $('.alert').addClass(alertType);
                $('.alert').html(data.Message);
                $('.alert').fadeIn().delay(1000).fadeOut();
            };
            
            $('#operation-table').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": '@Url.Action("Grid", "OperationConfig")',
                "order": [[3, "asc"]],
                "aoColumns": [
                    {
                        "mDataProp": "KeyOperationGroupId", "name": "Key Operation Group",
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            //console.log($('.highlight-groups').clone().val(row.GroupId));
                            var groups = $('.operation-config-groups').clone();
                            groups.css('display', 'block');
                            groups.find('option:selected').removeAttr('selected');
                            if (row.GroupId != 0) {
                                groups.find('option').each(function (i, val) {
                                    var optVal = $(val).val();
                                    if (optVal == row.KeyOperationGroupId) {
                                        $(val).attr('selected', 'selected');
                                    }
                                });
                            }
                            groups = groups.val(row.OperationGroupId).prop('outerHTML');
                            return '<form action="/OperationConfig/save" method="POST"><input type="hidden" name="KpiId" value="' + row.KpiId + '"><input type="hidden" name="Id" value="' + row.Id + '">' + groups + '</form>';
                        }
                    },
                    { "mDataProp": "Kpi", "name": "Kpi", "className": "dt-body-left" },
                    {
                        "mDataProp": "Order", "name": "Order", "sClass": "dt-head-center text-center",
                        "render": function (data, type, row) {
                            return '<form action="/OperationConfig/save" method="POST"><input type="hidden" name="KpiId" value="' + row.KpiId + '"><input type="hidden" name="Id" value="' + row.Id + '"><input type="number" class="operation-config-order" name="Order" class="form-control" value="' + data + '"></form>';
                        },
                    },
                    //{ "mDataProp": "Desc", "name": "Desc", "sortable": false },
                    {
                        "mDataProp": "IsActive", "name": "IsActive", "sClass": "dt-head-center text-center",
                        "render": function (data, type, row) {
                            var checked = '';
                            if (data) {
                                checked = 'checked="checked"';
                            }
                            return '<form action="/OperationConfig/save" method="POST"><input type="hidden" name="KpiId" value="' + row.KpiId + '"><input type="hidden" name="Id" value="' + row.Id + '"><input type="checkbox"  class="highlight-is-active" ' + checked + ' ><input type="checkbox" value="True"  name="IsActive" class="highlight-is-active" style="display:none" checked="checked" ></form>';
                        },
                    },
                    /*{
                        "mDataProp": "IsActive", "name": "IsActive", "sClass": "dt-head-center text-center",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="is-active">';
                            }
                            return data;
                        }
                    },*/
                    @*{
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            var deleteLink = '<a class="delete" data-id="_id_" href="javascript:;">Delete</a>'.replace('_id_', data.Id);
                            var editLink = '@Html.ActionLink("Edit", "Edit", "OperationConfig", new {id = "_id_"}, null)'.replace('_id_', data.Id);
                            return editLink + ' | ' + deleteLink;
                        }
                    }*@
                ],
                "fnDrawCallback": function (oSettings) {
                    $('.operation-config-order').keyup(function () {
                        var tr = $(this).closest('tr');
                        var form = $(this).closest('form');
                        $.post(form.attr('action'), form.serialize().replace(/item\./g, ''), function (data) {
                            tr.find('input[name="Id"]').each(function (i, val) {
                                $(val).val(data.Id);
                            });
                            showMessage(data);
                        });
                    });
                    $('.operation-config-groups').change(function () {
                        var tr = $(this).closest('tr');
                        var form = $(this).closest('form');
                        $.post(form.attr('action'), form.serialize().replace(/item\./g, ''), function (data) {
                            tr.find('input[name="Id"]').each(function (i, val) {
                                $(val).val(data.Id);
                            });
                            showMessage(data);
                        });
                    });
                    $('.highlight-is-active').change(function () {
                        var tr = $(this).closest('tr');
                        var form = $(this).closest('form');
                        if ($(this).is(":checked")) {
                            form.find('input[name="IsActive"]').val('True');
                        } else {
                            form.find('input[name="IsActive"]').val('False');
                        }
                        $.post(form.attr('action'), form.serialize().replace(/item\./g, ''), function (data) {
                            tr.find('input[name="Id"]').each(function (i, val) {
                                $(val).val(data.Id);
                            });
                            showMessage(data);
                        });
                    });
                },
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.is-active', row).prop('checked', data.IsActive == 1);
                }
            });

            $('#operation-table').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                if (confirm('Are you sure want to delete this item?' + id)) {
                    var url = '@Url.Action("Delete", "OperationConfig")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });

        });
    </script>
}
