@{
    ViewBag.Title = "Pillar List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pillar List</h2>
@Html.Partial("_MessageResponse")
<div class="add-button-wrapper">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>
@*@Html.Action("IndexPartial")*@

<table id="pillar-table" class="table-transparent table table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Order</th>
            <th>Icon</th>
            <th>Remark</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#pillar-table').DataTable({
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "iDisplayLength": -1,
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": '@Url.Action("Grid", "Pillar")',
                "order": [[2, "asc"]],
                "aoColumns": [
                    { "mDataProp": "Code", "name": "Code" },
                    { "mDataProp": "Name", "name": "Name" },
                    { "mDataProp": "Order", "name": "Order" },
                    { "mDataProp": "Icon", "name": "Icon", "sortable": false },
                    { "mDataProp": "Remark", "name": "Remark", "sortable": false },
                    {
                        "mDataProp": "IsActive", "name": "IsActive",
                        render: function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="checkbox" class="is-active">';
                            }
                            return data;
                        }
                    },
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            var deleteLink = '<a class="delete" data-id="_id_" href="javascript:;">Delete</a>'.replace('_id_', data.Id);
                            var editLink = '@Html.ActionLink("Edit", "Update", "Pillar", new { id = "_id_" }, null)'.replace('_id_', data.Id);
                            return editLink + ' | ' + deleteLink;
                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    $('input.is-active', row).prop('checked', data.IsActive == 1);
                }
            });


            $('#pillar-table').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                if (confirm('Are you sure want to delete this item?' + id)) {
                    var url = '@Url.Action("Delete", "Pillar")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });


        });

    </script>
}