@model DSLNG.PEAR.Web.ViewModels.Highlight.DailyExecutionReportViewModel
@using DSLNG.PEAR.Web.Helpers

<div class="daily-execution-report highlight-display">

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>Highlight</h3>
            </div>
        </div>
    </div>
    @{
        var daily = Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Daily ? "active" : "";
        var monthly = Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Monthly ? "active" : "";
        var yearly = Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Yearly ? "active" : "";
        <ul class="nav nav-tabs">
            <li class="@daily"><a href="@Url.Action("Display", new { PeriodeType = "Daily" })">Daily</a></li>
            <li class="@monthly"><a href="@Url.Action("Display", new { PeriodeType = "Monthly" })" >Monthly</a></li>
            <li class="@yearly"><a href="@Url.Action("Display", new { PeriodeType = "Yearly" })" >Yearly</a></li>
        </ul>
    }

    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_MessageResponse")
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active text-left">
                    @if (Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Daily)
                    {
                        <div class="row" style="margin-bottom: 40px">
                            <div class="col-sm-12">
                                <form class="form-inline">
                                    <div class="form-group form-list">
                                        <label for="GraphicName">Date</label>
                                        <input class="form-control datepicker" type="text" value="@Model.PeriodeInDisplay">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 40px">
                            <div class="col-md-4">
                                <h4>
                                    @if(Model.IsAuthorizedToManageWeather){
                                    if (string.IsNullOrEmpty(Model.Weather.Text))
                                    {
                                        <a href="@Url.Action("Manage","Weather",new {PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay})">Weather :</a>
                                    }
                                    else { 
                                         <a href="@Url.Action("Manage","Weather",new {WeatherId=Model.Weather.Id})">Weather :</a>
                                    }
                                    }else{
                                        <text>Weather :</text>
                                    }
                                     <span class="weather-value">@Model.Weather.Text</span> <span class="display-image" style="width: 60px; height: 60px; display: inline-block; padding: 2.5px">
                                    <img src="~/Content/img/select/@Model.Weather.Value"  style="width:100%;height:100%;display:inline-block"/></span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4 style="margin-top: 22px">

                                      @if (Model.IsAuthorizedToManageWeather)
                                      {
                                          if (string.IsNullOrEmpty(Model.Weather.Temperature))
                                          {
                                        <a href="@Url.Action("Manage", "Weather", new { PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">Outside Temperature :</a>
                                          }
                                          else
                                          { 
                                         <a href="@Url.Action("Manage", "Weather", new { WeatherId = Model.Weather.Id })">Outside Temperature:</a>
                                          }
                                      }else{
                                      <text>Outside Temperature :</text>
                                      }
                                     <span class="weather-value">@Model.Weather.Temperature</span></h4>
                            </div>
                            <div class="col-md-4">
                                <h4 style="margin-top: 19px">
                                    @if (Model.IsAuthorizedToManageAlert)
                                    {
                                        if (string.IsNullOrEmpty(Model.Alert.Message))
                                        {
                                        <a href="@Url.Action("Manage", "Highlight", new { TypeId = Model.Alert.TypeId, PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">Alert Condition:</a>
                                        }
                                        else
                                        { 
                                         <a href="@Url.Action("Manage", "Highlight", new { HighlightId = Model.Alert.Id })">Alert Condition:</a>
                                        }
                                    }
                                    else{
                                         <text>Alert Condition :</text>
                                    }
                                     <span class="display-image" style="max-width: 180px; height: 25px; display: inline-block; padding: 2.5px">
                                    <img src="~/Content/img/select/@Model.Alert.Message"  style="width:100%;height:100%;display:inline-block"/></span></h4>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 40px">
                            <div class="col-md-12">
                                <div class="panel panel-default der-panel">
                                    <table class="der table-bordered">
                                        <tr>
                                            <th>Next Loading Schedule</th>
                                            <th>Vessel (Capacity)</th>
                                            <th>Customer</th>
                                            <th>ETA</th>
                                            <th>ETD</th>
                                            <th>Cargo#</th>
                                            <th>Remarks</th>
                                        </tr>
                                        @foreach (var nls in Model.NLSList)
                                        { 
                                            <tr>
                                                <td>
                                                     @if (Model.IsAuthorizedToManageVesselSchedule)
                                    {
                                                    <a href="/VesselSchedule/Manage/@nls.Id">@nls.VesselType - @nls.SalesType - @nls.Type</a>
                                                     }else{
                                                     <text>@nls.VesselType - @nls.SalesType - @nls.Type</text>
                                                     }

                                                </td>
                                                <td>@nls.Vessel (@nls.Capacity @nls.Measurement)</td>
                                                <td>@nls.Buyer</td>
                                                @if (nls.ETA.HasValue)
                                                {
                                                    <td>@nls.ETA.Value.ToString("dd-MM-yyyy")</td>
                                                }
                                                else {
                                                    <td></td>
                                                }
                                                @if (nls.ETD.HasValue)
                                                {
                                                    <td>@nls.ETD.Value.ToString("dd-MM-yyyy")</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                <td>@nls.Cargo</td>
                                                @if (nls.RemarkDate.HasValue)
                                                {
                                                    <td>@nls.RemarkDate.Value.ToString("dd-MM-yyyy");@nls.Remark | @Html.ActionLink("See All", "InVesselSchedule", "NLS", new { id = nls.Id }, new { @class = "nls-see-all", data_permitted = @Model.IsAuthorizedToManageVesselSchedule, data_toggle = "modal", data_target = "#modalDialog" })</td>
                                                }
                                                else
                                                {
                                                    <td>@Html.ActionLink("See All", "InVesselSchedule", "NLS", new { id = nls.Id }, new { @class = "nls-see-all", data_permitted = @Model.IsAuthorizedToManageVesselSchedule, data_toggle = "modal", data_target = "#modalDialog" })</td>
                                                }
                                               
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                    else if (Model.PeriodeType == DSLNG.PEAR.Data.Enums.PeriodeType.Monthly)
                    {
                        <div class="row" style="margin-bottom: 40px">
                            <div class="col-sm-12">
                                <form class="form-inline">
                                    <div class="form-group form-list">
                                        <label for="GraphicName">Month</label>
                                        <input class="form-control monthpicker" type="text" value="@Model.PeriodeInDisplay">
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row" style="margin-bottom: 40px">
                            <div class="col-sm-12">
                                <form class="form-inline">
                                    <div class="form-group form-list">
                                        <label for="GraphicName">Year</label>
                                        <input class="form-control yearpicker" type="text" value="@Model.PeriodeInDisplay">
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                    @for (var i = 0; i < Model.HighlightGroupTemplates.Count; i++)
                    {
                        var highlightTypes = Model.HighlightGroupTemplates[i].HighlightTypes.OrderBy(x => x.Order).ToList();
                        var currentGroup = Model.HighlightGroups.FirstOrDefault(x => x.Id == Model.HighlightGroupTemplates[i].Id);
                        <div class="row">
                            <div class="col-md-12">
                                <h4>@Model.HighlightGroupTemplates[i].Name</h4>
                                <div class="panel panel-default der-panel">
                                    <table class="der highlights table-bordered dynamic-highlights">
                                        @for (var j = 0; j < Model.HighlightGroupTemplates[i].HighlightTypes.Count; j += 2)
                                        {
                                            var colspan = "";


                                            if (Model.HighlightGroupTemplates[i].HighlightTypes.Count <= j + 1 && j != 0)
                                            {
                                                colspan = "colspan=2";
                                            }
                                            <tr>
                                                <td @colspan>
                                                    @if (Model.HighlightGroupTemplates[i].HighlightTypes.Count > j)
                                                    {

                                                        if (currentGroup != null)
                                                        {
                                                            var currentHighlight = currentGroup.Highlights.FirstOrDefault(x => x.TypeId == Model.HighlightGroupTemplates[i].HighlightTypes[j].Id);
                                                            if (currentHighlight != null)
                                                            {
                                                                if (Model.HighlightGroupTemplates[i].HighlightTypes[j].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                                {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight" href="@Url.Action("Manage", "Highlight", new { HighlightId = currentHighlight.Id })">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</a></h4>
                                                                }
                                                                else
                                                                {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</h4>
                                                                }
                                                        <p>@Html.LimitString(currentHighlight.Message, 350)</p>
                                                           
                                                            }
                                                            else
                                                            {
                                                                if (Model.HighlightGroupTemplates[i].HighlightTypes[j].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                                {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight"  href="@Url.Action("Manage", "Highlight", new { TypeId = Model.HighlightGroupTemplates[i].HighlightTypes[j].Id, PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</a></h4>
                                                                }
                                                                else
                                                                {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</h4>
                                                                }
                                                        <p>...</p>
                                                        
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.HighlightGroupTemplates[i].HighlightTypes[j].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                            {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight"   href="@Url.Action("Manage", "Highlight", new { TypeId = Model.HighlightGroupTemplates[i].HighlightTypes[j].Id, PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</a></h4>
                                                            }
                                                            else
                                                            {
                                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j].Text</h4>
                                                            }
                                                        <p>...</p>
                                                        
                                                        }

                                                    }
                                                </td>

                                                @if (Model.HighlightGroupTemplates[i].HighlightTypes.Count > j + 1)
                                                {
                                                    <td>
                                                        @if (currentGroup != null)
                                                        {
                                                            var nextHighlight = currentGroup.Highlights.FirstOrDefault(x => x.TypeId == Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Id);
                                                            if (nextHighlight != null)
                                                            {
                                                                if (Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                                {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight" href="@Url.Action("Manage", "Highlight", new { HighlightId = nextHighlight.Id })">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</a></h4>
                                                                }
                                                                else
                                                                {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</h4>
                                                                }
                                                            <p>@Html.LimitString(nextHighlight.Message, 350)</p>
                                                           
                                                            }
                                                            else
                                                            {
                                                                if (Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                                {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight"  href="@Url.Action("Manage", "Highlight", new { TypeId = Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Id, PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</a></h4>
                                                                }
                                                                else
                                                                {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</h4>
                                                                }
                                                            <p>...</p>
                                                        
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].RoleGroupIds.Contains(Model.CurrentUserRoleId))
                                                            {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px"><a class="manage-highlight"   href="@Url.Action("Manage", "Highlight", new { TypeId = Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Id, PeriodeType = Model.PeriodeType, Periode = Model.PeriodeInDisplay })">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</a></h4>
                                                            }
                                                            else
                                                            {
                                                            <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.HighlightGroupTemplates[i].HighlightTypes[j + 1].Text</h4>
                                                            }
                                                            <p>...</p>
                                                        
                                                        }

                                                    </td>
                                                }

                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @*  @if (Model.Highlights.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default der-panel">
                    <table class="der highlights table-bordered">
                        @for (var i = 0; i < Model.Highlights.Count; i += 2)
                        {
                            var colspan = "";
                            if (Model.Highlights.Count <= i + 1 && i != 0)
                            {
                                colspan = "colspan=2";
                            }
                            <tr>
                                <td @colspan>
                                    @if (Model.Highlights.Count > i)
                                    { 
                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.Highlights[i].Title</h4>
                                        <p>@Html.LimitString(@Model.Highlights[i].Message,350)</p>
                                    }
                                </td>

                                @if (Model.Highlights.Count > i + 1)
                                {
                                    <td>
                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.Highlights[i + 1].Title</h4>
                                        <p>@Html.LimitString(@Model.Highlights[i + 1].Message,350)</p>
                                    </td>
                                }

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }*@


    @* @if (Model.PlantOperations.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default der-panel">
                    <table class="der highlights table-bordered">
                        @for (var i = 0; i < Model.PlantOperations.Count; i += 2)
                        {
                            var colspan = "";
                            if (Model.PlantOperations.Count <= i + 1 && i != 0)
                            {
                                colspan = "colspan=2";
                            }
                            <tr>
                                <td @colspan>
                                    @if (Model.PlantOperations.Count > i)
                                    { 
                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.PlantOperations[i].Title</h4>
                                        <p>@Html.LimitString(@Model.PlantOperations[i].Message,350)</p>
                                    }
                                </td>

                                @if (Model.PlantOperations.Count > i + 1)
                                {
                                    <td>
                                        <h4 class="highlight-title" style="float: none; margin-top: 10px">@Model.PlantOperations[i + 1].Title</h4>
                                        <p>@Html.LimitString(@Model.PlantOperations[i + 1].Message,350)</p>
                                    </td>
                                }

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }*@
</div>
@Html.Partial("_Modal")
