@model DSLNG.PEAR.Web.ViewModels.HighlightGroup.HighlightGroupViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="highlight-group-save">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.Id);
        @Html.AntiForgeryToken()
        <div class="col-md-12">
            <div class="title">Highlight Group</div>
            <div>@Html.ValidationSummary(true)</div>
            
        </div>
        <div class="col-md-12">
            @Html.Partial("_MessageResponse")
            <div class="form-inline whitebox">
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group form-list">
                    @Html.LabelFor(model => model.Order)
                    @Html.TextBoxFor(model => model.Order, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Order)
                </div>
            </div>
        </div>
        <div class="col-md-12 artifact-designer-btns">
            <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-floppy-o"></span>Save</button>
            <a onclick="location.reload();" class="btn btn-primary btn-lg"><span class="fa fa-repeat"></span>Clear</a>
            <a href="@Url.Action("Index")" class="btn btn-primary btn-lg"><span class="fa fa-times"></span>Cancel</a>
        </div>
    }
</>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
