@model IEnumerable<DSLNG.PEAR.Web.ViewModels.RolePrivilege.RolePrivilegeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Role Privileges</h2>
@Html.Partial("_MessageResponse")
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label class="labletop">Department :</label>
            @Html.DropDownList("RoleGroup_Id", (IEnumerable<SelectListItem>)ViewBag.RoleGroups, new { @class = "form-control"})
            <br />
            
        </div>
        <div class="form-group">
            @Html.ActionLink("Create New", "Create", new { @RoleId = ViewBag.RoleId }, new { @class = "btn btn-primary", @id = "privCreate" })
        </div>
    </form>
</div>

<table id="privilege-table" class="rgw-pop-tbl table-transparent table row-border table-bordered table-responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th style="width: 200px;">Action</th>
        </tr>
    </thead>
</table>
@section Scripts{
    <script type="text/javascript">

        function OnPopupEndCallback(s, e) {
            alert(e);
        }

        var contentUrl = '@Url.Content("$x$")';
        $(document).ready(function () {
            var roleId = $('#RoleGroup_Id').val();
            var myTable;
            myTable = $('#privilege-table').DataTable({
                "bProcessing": true,
                "bServerSide": true,
                "sServerMethod": "POST",
                "sAjaxSource": '@Url.Action("Grid", "Privilege")',
                //"fnServerParams": function (aoData) {
                //    newData = aoData;
                //    newData.push({ "name": "year", "value": year });
                //    //aoData.push({ "name": "year", "value": year });
                //},
                "fnServerData": function (sSource, aoData, fnCallback) {
                    newData = aoData;
                    newData.push({ "name": "roleId", "value": roleId });
                    $.getJSON(sSource, newData, function (json) {
                        //* Do whatever additional processing you want on the callback, then tell DataTables *
                        fnCallback(json);
                    });
                },
                "order": [[0, "asc"]],
                "paging": false,
                "aoColumns": [
                    { "mDataProp": "Id", "name": "Id", "className": "dt-body-left", "orderable": false },
                    { "mDataProp": "Name", "name": "Name", "className": "dt-body-left", "orderable": false },
                    {
                        "mDataProp": "Descriptions", "name": "Descriptions", "className": "dt-body-left", "orderable": false, "sortable": false,
                        "mRender": function (data, type, row) {
                            if (!data) {
                                return 'N/A';
                            } else {
                                var more = '';
                                var n = data.indexOf("</p>");
                                var sub = data.substr(0, n).replace('<a>', '').replace('</a>', '');
                                if (data.lastIndexOf("</p>") > n) {
                                    more = '<a class="summary" data-id="_text_" href="javascript:;"><sup>more</sup></a>'.replace('_text_', row.Id);
                                } 
                                
                                return sub + ' ' + more;
                            }
                        }
                    },
                    //{
                    //    "mDataProp": "Filename", "name": "Filename", "className": "dt-body-left", "orderable": false,
                    //    "mRender": function (data, type, row) {
                    //        var viewlink = '<a class="viewpdf" data-id="_name_" href="javascript:;">View<a/>'.replace('_name_', row.Id);
                    //        var download = '<a class="download" data-id="_id_" href="javascript:;">Download</a>'.replace('_id_', row.Id);
                    //        return data + ' | ' + viewlink + ' | ' + download;
                    //    }
                    //},
                    //{
                    //    "mDataProp": "Filename", "name": "Filename", "className": "dt-body-left", "orderable": false, "mRender": function (data, type, row) {
                    //        var list = '<ul class="pop-attachments-list">';
                    //        for (var i in data) {
                    //            list += '<li><a href="' + contentUrl.replace('$x$', data[i].Filename.substr(2, data[i].Filename.length)) + '" class="document-link doc-type-' + data[i].Type +
                    //                '" >' + data[i].Alias + '</a></li>';
                    //        }
                    //        list += '</ul>';
                    //        return list;
                    //    }
                    //},
                    {
                        "orderable": false,
                        "data": null,
                        "defaultContent": '',
                        "mRender": function (data, type, row) {
                            var deleteLink = '<a class="delete" data-id="_id_" href="javascript:;">Delete</a>'.replace('_id_', data.Id);
                            var editLink = '@Html.ActionLink("Edit", "Edit", "Privilege", new { id = "_id_" }, null)'.replace('_id_', data.Id);

                            return editLink + ' | ' + deleteLink;
                        }
                    }
                ],
                rowCallback: function (row, data) {
                    // Set the checked state of the checkbox in the table
                    //$('input.is-active', row).prop('checked', data.IsActive == 1);
                }
            });

            $('#privilege-table').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                if (confirm('Are you sure want to delete this item?' + id)) {
                    var url = '@Url.Action("Delete", "Privilege")';
                    var form = $('<form />');
                    form.attr('action', url);
                    form.attr('method', 'POST');
                    form.html('<input type="hidden" name="id" value="' + id + '" />');
                    $('body').append(form);
                    form.submit();
                }
            });



            $('#RoleGroup_Id').on('change', function () {
                roleId = $('#RoleGroup_Id').val();
                myTable.draw();
                //$('.btn btn-primary').attr('href', function () {
                //    return this.href.replace('_rolegroup', roleId);
                //});
                changeCreate(roleId);
            });



        });

        function changeCreate(roleId) {
            var url = "/Privilege/Create?RoleId=" + roleId;
            var create = $('#privCreate');
            create.removeAttr('href');
            $('#privCreate').attr('href', url);
            console.log(create.attr('href'));
        }
    </script>
}