@model DSLNG.PEAR.Web.ViewModels.User.UpdateUserViewModel
@{
    ViewBag.Title = "Edit User";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_MessageResponse")
<link href="~/Content/bootstrap-multiselect/bootstrap-multiselect.less" rel="stylesheet" type="text/less" />
<style type="text/css">
    /*label {
        font-size: inherit;
        color: black;
    }*/
    
    select option { color: black; }
    
    .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: -10px;
        
    }
    .checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
</style>
<script src="~/Scripts/bootstrap-multiselect.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var roleid = '@Model.RoleId.ToString()';
        roleid = roleid || "0";
        var privileges = $("Select#RolePrivilegeIds")
        privileges.multiselect();
        $('#RoleId').change(function () {
            roleid = $('Select#RoleId').val();
            privileges.multiselect('destroy');
            $.ajax({
                type: "post",
                url: '@Url.Action("GetPrivilege")',
                data: { roleId: parseInt(roleid) },
                datatype: "json",
                traditional: true,
                error: function () {
                    privileges.empty();
                    console.log('saya error');
                },
                success: function (data) {
                    privileges.empty();
                    $.each(data, function (i, item) {
                        privileges.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                    privileges.multiselect();
                }
            });
        });

        
    });
    function AddPrivilege() {
        var $this = $(this);
        var $modal = $('#modalPrivilege');
        var roleId = $('Select#RoleId').val();
        $modal.find('.modal-dialog').width(1024);
        //$modal.find('.modal-dialog').height(600);
        $modal.find('.modal-title').html('Add New Schedule');
        $('#modalPrivilege').modal('show');
        $.get('@Url.Action("AddPrivilege")', { RoleId : roleId }, function (data) {
            $modal.find('.modal-body').html(data);
        });
        rescale();
    }
    function rescale() {
        var size = { width: $(window).width(), height: $(window).height() }
        /*CALCULATE SIZE*/
        var offset = 10;
        var offsetBody = 20;
        $('#modalPrivilege').css('height', size.height - offset);
        $('.modal-body').css('height', size.height - (offset + offsetBody));
        $('#modalPrivilege').css('top', 0);
    }
    $(window).bind("resize", rescale);
</script>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Update", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @*<form action="@Url.Action("Update")" method="POST">*@
            @Html.HiddenFor(model => model.Id)
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Position, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Position)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                <div class="input-group">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    <div class="input-group-addon">
                        @Html.EditorFor(model => model.ChangePassword)
                        @Html.LabelFor(model => model.ChangePassword)
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.ChangeModel, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.ChangeModel, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChangeModel)
            </div>
            <div class="form-group form-list" id="div-role-id">
                @Html.LabelFor(model => model.RoleId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.RoleId, Model.RoleGroupList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleId)
            </div>
            @*<div class="form-group form-list" id="div-privilege">
                    @Html.LabelFor(model => model.RolePrivilegeIds, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.RolePrivilegeIds, Model.RolePrivilegeOption, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.RolePrivilegeIds)
                </div>*@
            <div class="form-group form-list" id="div-privilege">
                @Html.LabelFor(model => model.RolePrivilegeIds, new { @class = "control-label" })
                @Html.ListBoxFor(model => model.RolePrivilegeIds, Model.RolePrivilegeOption, new { multiple = "multiple" })
                @*<a href="@Url.Action("Create","Privilege", new { RoleId = Model.RoleId })" target="_blank" class="btn btn-default"><span class="fa fa-plus-square"></span> Add New</a>*@
                <a href="javascript:" onclick="AddPrivilege()" class="btn btn-master-rgw">Add New</a>
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.SignatureImage, new { @class = "control-label" })
                <input type="file" name="file" id="SignatureImage" value="@Model.SignatureImage" />
                @Html.TextBoxFor(model =>model.SignatureImage, new { style = "visibility: hidden" })
                @Html.ValidationMessageFor(model => model.SignatureImage)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label" })
                @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
            <div class="form-group form-list">
                @Html.LabelFor(model => model.IsSuperAdmin, new { @class = "control-label" })
                @Html.EditorFor(model => model.IsSuperAdmin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsSuperAdmin)
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>

            @*</form>*@
        }
    </div>
</div>

<div class="modal fade" id="modalPrivilege" tabindex="-1" role="dialog" aria-labelledby="modalPrivilege" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1024px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                Loading ...
            </div>
        </div>
    </div>
</div>
