@model DSLNG.PEAR.Web.ViewModels.AuditTrail.AuditTrailsDetailsViewModel
@foreach (var item in Model.AuditTrails)
{
    <span style="float: left;margin-bottom: 19px;color: yellow;">Event Date : <b>@item.UpdateDate</b></span>
    <span style="float: left; margin-left:10px;color:greenyellow;">Updater::From : <b>@item.UserName</b>::@item.ControllerName</span>
    <span style="float: right;color:yellow;">Action Type : @item.Action</span>
    <table class="table">
        <thead>
            <tr>
                <th>Field Name</th>
                <th>Before Change</th>
                <th>After Change</th>
            </tr>
        </thead>
        <tbody>
            @if (!item.Action.ToLowerInvariant().Equals("deleted"))
            {
                foreach (var newValue in item.NewValue)
                {
                    if (item.Action.ToLowerInvariant().Equals("edit") && newValue.Value != item.OldValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value)
                    {
                        <tr>
                            <td>@newValue.FieldName</td>
                            <td>@item.OldValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value</td>
                            <td>@item.NewValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value</td>
                        </tr>
                    }
                    else if (item.Action.ToLowerInvariant().Equals("add"))
                    {
                        <tr>
                            <td>@newValue.FieldName</td>
                            <td>-</td>
                            <td>@newValue.Value</td>
                        </tr>
                    }
                }
            }
            else
            {
                foreach (var oldValue in item.OldValue)
                {
                    <tr>
                        <td>@oldValue.FieldName</td>
                        <td>@oldValue.Value</td>
                        <td>-</td>
                    </tr>
                }
            }
            
            @*@foreach (var newValue in item.NewValue)
            {
                if (item.Action.ToLowerInvariant().Equals("edit") && newValue.Value != item.OldValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value)
                {
                    <tr>
                        <td>@newValue.FieldName</td>
                        <td>@item.OldValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value</td>
                        <td>@item.NewValue.FirstOrDefault(x => x.FieldName == newValue.FieldName).Value</td>
                    </tr>
                }
                else if (item.Action.ToLowerInvariant().Equals("add"))
                {
                    <tr>
                        <td>@newValue.FieldName</td>
                        <td></td>
                        <td>@newValue.Value</td>
                    </tr>
                }
            }*@
        </tbody>
    </table>
    
}